#about {
}

.b-about-landing {
    background-color: $purple;
    margin-bottom: 0;

    header {
        background-color: $gray-10;
        text-align: center;
        vertical-align: baseline;
        padding: 80px 0 0;

        @include breakpoint($desktop) { 
            padding-top: 60px;
            padding-bottom: 20px;
        }

        h1 {
            margin: 0;
            padding: 0;
            color: $white;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 30px;
            letter-spacing: 1px;
        }
    }
}

.b-about {
    padding: 30px 0 60px;

    h1, h2, h3 {
        padding: 0;
        color: $purple;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: center;
    }

    h1 { font-size: 30px; }

    h2 { font-size: 24px; }

    h3 { font-size: 20px; }

    .e-tagline {
        font-size: 24px;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
    }

    .e-wrap {
        @include wrap;

        > div {
            display: -webkit-flex;
            display: flex;

            @include breakpoint($mobile-only) {
                flex-flow: column;
            }
        }
    }

    .e-half {
        -webkit-flex: 1;
        flex: 1;
        margin: 0;
        padding: 20px 30px;

        &:nth-of-type(2n) {
            @include breakpoint($desktop) { padding-right: 30px; }
        }
    }
}


.b-about.m-who-we-are {
    background-color: $white;
}

.b-about.m-what-we-do {
    background-color: $black;
    padding: 0;

    header { padding: 10px 0; }

    h1, h2, h3, p { color: $white; }

    .e-full {
        width: 100%;
        display: flex;

        .e-box {
            flex: 1;
            padding: 20px 30px;
            text-align: center;
        }
    }
    
    .e-box.m-build { background-color: $purple; }    
    .e-box.m-train { background-color: $orange; }    
    .e-box.m-learn { background-color: $teal; }    
    .e-box.m-connect { background-color: $blue; }    
    
}

.b-about.m-how-we-do-it {
    font-weight: 400;
    font-size: 22px;

    .e-tagline {
        margin: 0;
    }

    .e-download {
        .b-button {
            margin: 0 auto;
        }
    }
}

.b-about.m-footer {
    background-color: $purple;
    padding: 20px 0;
    
    h1 {
        color: $white;
        font-size: 30px;
    }
}