body {
    padding: 0;
    margin: 0;
    font-family: 'proxima-nova', sans-serif;
    color: #333;
    font-size: 18px;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    #covid-19{
      background-color: rgb(193, 211, 127);
      font-size: 0.8rem;
      font-weight: 600;
      border-style: none; 
      position: fixed; 
      right: 32px; 
      bottom: 80px; 
      height: 55px; 
      width: 180px; 
      overflow: hidden; 
      z-index: 2147483647;
      text-align:right;
      padding: 8px;
      border-radius: 5%;
    }
}

a {
    text-decoration: none;
    color: $purple;
    &.m-white {
      color: $white-70;
      @include transition;
      &:hover {
        color: $white;
        @include transition;
      }
    }
}

input[type="text"] {
    border: 0;
    color: $white;
    background-color: $white-10;

    &:focus { background-color: $white-30; }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.b-landing-questions,
.b-featured-content > *,
.b-single-landing > *,
.b-single-description > *,
.b-single-results > *,
.b-single-related-content > *,
.b-projects-landing > *,
.b-footer {
    @include breakpoint($mobile-only) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.b-top-section.b-top-section {
  padding-top: 90px;
  @include breakpoint($desktop) {padding-top: 100px;}
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: none;
  //background-color: green;
  background-color: transparent !important;

  &.m-active { display: block; }
}

.index-nav-image {
  width: 100%;
  display: block;
  margin: 0.83em 0;
  padding: 2px 20px;
}