// Fixes to the base to make it compatible witht he styleguide

.b-divider h3 { text-align: center; } // This goes to styleguide


#events {
    .b-top-nav { background-color: $purple; }

    .b-top-section {
        h2 { 
          margin-top: 20px; 
        }
    }

    .e-wrap {
      @include wrap;
      display: -webkit-flex;
      display: flex;
      position: relative;
      flex-flow: column;
      z-index: 1;

      @include breakpoint($mobile-only) {
          -webkit-flex-flow: column;
          flex-flow: column;
      }
      .e-event {
        border-bottom: 1px solid $purple;
        h5{
          margin-top:0px;
          color: $black;
        }
        .e-dates{
          display:flex;
          flex-flow: row;
          p{
            color: $black;
            // text-transform: uppercase;
            font-weight:600;
            font-size: 16px;
          }
          .material-icons{
            
            font-size:20px;
           }
        }
        .b-button { color: $purple; }
        .b-button.m-less { display: none; }
        .b-button.m-hide { 
            display: none; 
            margin-bottom: 10px; 
        }
      }

  }

    .e-event-list h5{
      color: $purple;
      text-transform: uppercase;
      font-weight: 700;
      margin-top: 40px; 
    }
}


// .b-events-landing {
//     background-color: $purple;
//     margin-bottom: 0;

//     header {
//         background-color: $gray-10;
//         text-align: center;
//         vertical-align: baseline;
//         padding: 80px 0 0;


//         @include breakpoint($desktop) { 
//             padding-top: 90px;
//             padding-bottom: 40px;
//         }

//         .e-list-selector {
//             @include transition;
            
//             @include breakpoint($desktop) {
//                 position: relative;
//                 left: 0;
//             }

//             h2 {
//                 font-weight: 600;
//                 font-size: 20px;
//                 text-transform: uppercase;
//                 margin: 0 20px;
//                 padding-bottom: 20px;
//                 display: inline-block;
//                 color: $white-20;
//                 line-height: 1;
//                 cursor: pointer;
//             }

//             &.m-upcoming .e-show-upcoming,
//             &.m-passed .e-show-passed {
//                 font-size: 24px;
//                 color: $white-80;
//             }

//             &.m-upcoming { left: 82px; }
//             &.m-passed { left: -116px; }
//         }
//     }
// }

// .b-event-list {
//     background-color: $purple;

//     .e-event-passed { display: none; }

//     .e-event-item {
//         background-repeat: no-repeat;
//         background-size: contain;
//         position: relative;
//         color: $white-70;
//         min-height: 300px;

//         @include breakpoint($mobile-only) {
//             background-position: bottom center;
//             padding-bottom: 20px;
//         }

//         @include breakpoint($desktop) {
//             background-position: bottom right;
//             padding: 40px 0;

//             .e-half:nth-of-type(even) {
//                 margin-right: 200px;
//             }
//         }

//         .e-wrap {
//             @include wrap;

//             > div {
//                 display: -webkit-flex;
//                 display: flex;

//                 @include breakpoint($mobile-only) {
//                     flex-flow: column;
//                 }
//             }
//         }

//         .e-half {
//             -webkit-flex: 1;
//             flex: 1;
//             margin: 0;


//             &:nth-of-type(2n) {
//                 @include breakpoint($desktop) { padding-right: 30px; }
//             }
//         }

//         h2, h3, p { 
//             margin: 0 20px;
//             @include breakpoint($desktop) { margin: 0; }
//         }

//         h2, h3 {
//             line-height: 1.4;
//             text-transform: uppercase;
//         }

//         h2 {
//             font-weight: 400;
//             margin-bottom: 40px;
//         }

//         h3 { font-weight: 400; }

//         h4 {
//             margin: 0;
//         }

//         .e-event-type {
//             font-size: 18px;
//             text-transform: uppercase;
//             font-weight: 600;
//             letter-spacing: 1px;
//             color: $white-30;
//             @include breakpoint($mobile-only) { 
//                 margin: 0;
//                 padding: 10px 20px;
//                 background: $black;
//                 color: $white;
//             }
//         }

//         .e-event-heading {
//             text-transform: uppercase;
//             font-weight: 600;
//             letter-spacing: 1px;
//             @include breakpoint($mobile-only) { 
//                 margin: 0;
//                 padding: 10px 20px;
//             }
//         }

//         .e-action {
//             margin-top: 20px;

//             @include breakpoint($mobile-only) { 
//                 margin-left: 10px;
//                 margin-right: 10px;
//             }
//         }
//     }

//     .e-long-description {
//         max-height: 0;
//         height: auto;
//         overflow: hidden;
//         padding: 0;
//         background-color: $black;
//         color: $white-60;
//         box-shadow: inset 0 0 20px $gray-30;
//         transition: all 0.8s ease-in;

//         a { text-decoration: underline; }

//         .e-wrap {
//             @include wrap;
//             padding: 40px 40px 40px 0;

//             @include breakpoint($mobile-only) { 
//                 margin-left: 20px;
//                 margin-right: 20px;
//             }
//         }

//         .e-close {
//             float: right;
//             cursor: pointer;
//             font-size: 30px;
//             margin-right: -40px;
//             padding: 5px;
//             @include transition;

//             &:hover {
//                 @include transition;
//             }
//         }

//         h3 {
//             text-transform: uppercase;
//             font-weight: 600;
//         }

//         ul {
//             padding: 0;
//         }

//         li {
//             list-style-type: none;
//         }

//         a {
//             color: currentColor;
//             text-decoration: none;
//         }
//     }
// }

// .e-event-item::before {
//     background-color: $gray-05;
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     z-index: 10;
//     content: '';
//     pointer-events: none;
// }

// .e-event-item:nth-child(2n)::before {
//     background-color: $gray-50;
// }

// .e-event-item.m-active + .e-long-description {
//     max-height: 2000px !important;
//     transition: all 0.8s ease-out;
// }
