.b-featured-content-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;

    .e-banner-container {
        -webkit-flex: 0 0 1;
        flex: 0 0 1;
   }
}

// .m-event {
//     order: 2;
// }
// .m-article {
//     order: 1;
// }
// .m-project {
//     order: 3;
// }

.b-featured-content {
    padding: 0 0 40px 0;
    position: relative;

    // @include breakpoint($mobile-only) { padding-top: 20px; }

    header {
        padding-top: 26px;
        padding-bottom: 0;
        overflow: hidden;
        @include breakpoint($desktop) { padding-top: 40px; }
        .e-wrap { display: block; }
    }

    h4 {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 30px;
        text-transform: uppercase;
        color: $white-90;
        font-size: 14px;
        letter-spacing: .5px;
        font-weight: 600;

        @include breakpoint($desktop) { font-size: 20px; }
    }

    > h4 {
        padding-top: 26px;
        @include wrap;
    }

    .e-wrap .e-banner-index {
        float: right;
        display: block;

        span {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 5px 3px 0;
            background-color: $white-20;
            @include circle;
        }

        .m-active {
            background-color: $white-50;
        }
    }

    .e-wrap {
        @include wrap;
        > div {
            display: -webkit-flex;
            display: flex;

            @include breakpoint($mobile-only) {
                flex-flow: column-reverse;
            }
        }
    }

    .e-half {
        -webkit-flex: 1;
        flex: 1;

        &:nth-of-type(2n) {
            @include breakpoint($desktop) { padding-right: 30px; }
        }
    }

    .e-tags {
        list-style-type: none;
        padding-left: 0;
        margin: 15px 0;

        h5, li {
            @include breakpoint($mobile-only) { display: inline-block; }
        }

        h5 {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 1px;
            margin-top: 15px;
            margin-bottom: 0;
            color: $white-20;

            @include breakpoint($mobile-only) { margin: 0; }
        }

        .e-tag {
            display: inline-block;
            margin-bottom: 4px;
            color: $white-80;
            font-size: 14px;
            letter-spacing: .6px;
            @include breakpoint($mobile-only) { margin: 0; }
        }
    }

    h2 {
        line-height: 1.3;
        color: $white-90;
    }

    .e-project-name {
        font-size: 36px;
        font-weight: 100;
        margin-top: 0;
        margin-bottom: 5px;
        @include wrap;
        @include breakpoint($desktop) { font-size: 48px; }
    }

    .e-question {
        color: $white-70;
        font-weight: 200;
        margin: 0;

        font-size: 18px;
        letter-spacing: .5px;
        line-height: 1.35;
        @include wrap;

        @include breakpoint($desktop) {
            font-size: 22px;
            margin-bottom: 30px;
        }
    }

    .e-article-name {
        font-size: 24px;
        font-weight: 300;
        margin-top: 0;
        @include breakpoint($desktop) { font-size: 36px; }
    }

    .e-event-name {
        font-weight: 300;
        margin-top: 0;
    }

    .e-event-heading {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .e-guest {
        font-weight: 600;
        text-transform: uppercase;
    }

    .e-byline {
        font-size: 16px;
        strong { font-weight: 600; }
    }

    .e-content {
        color: $white-90;
        @include breakpoint($desktop) { margin-right: 40px; }

        p {
            @include breakpoint($desktop) { margin-top: 0; }
        }

        a {
            color: $white-90;
            text-decoration: underline;
        }
    }

    .e-action-group {
        @include breakpoint($mobile-only) {
            margin-top: 20px;
        }
    }

    .e-action {
        .b-button {
            @include breakpoint($mobile-only) {
                display: block;
                text-align: center;
                margin-bottom: 10px;
            }
        }
    }

    .e-banner-controls {
        .e-banner-control {
            position: absolute;
            top: 40%;
            font-size: 64px;
            color: $white-10;
            cursor: pointer;
            @include transition;

            // @include breakpoint($mobile-only) { opacity: 0;}

            &:hover { color: $white-50; }

            &.m-prev { left: 20px; }
            &.m-prev:hover { left: 10px; }
            &.m-next { right: 20px; }
            &.m-next:hover { right: 10px; }
        }
    }
}

.b-featured-content-wrapper.m-project { background-color: $purple; }

.b-featured-content.m-project {
    background-color: $purple;

    // header { background-color: $gray-10; }
    .e-banner-control { top: 48%; }
    .e-content {
        @include breakpoint($desktop) { height: 370px; }
    }
}

.b-featured-content.m-event {
    background-color: $purple;
    background-repeat: no-repeat;
    background-size: contain;

    @include breakpoint($mobile-only) {
        background-position: bottom center;
        .e-half:nth-last-child(2) { margin-top: 50px; }
    }

    @include breakpoint($desktop) {
        background-position: bottom right;

        .e-half:nth-of-type(even) {
            margin-right: 200px;
        }
    }

    .e-action {
        @include breakpoint($desktop) { margin-top: 10px; }
    }
}

.b-featured-content.m-article {
    background-color: $teal;
    padding-bottom: 0;

    .e-content {
        a { color: $white-80; }
        a:hover { text-decoration: underline; }
    }

    .e-action {
        @include breakpoint($desktop) {
            margin-top: 30px;
            margin-bottom: 20px;
        }
    }
}


