.b-govlab-fronts {
    display: block;

    @include breakpoint($desktop) { 
        display: flex; 
    }

    .e-mobile-wrap {
        @include breakpoint($desktop) { 
            display: flex;
            flex: 1;
        }        
    }

    .e-govlab-front {
        color: $white-80;
        letter-spacing: 1px;
        padding: 30px 0;
        font-size: 14px;
        text-align: center;
        background-color: $black;
        display: block;
        overflow: hidden;
        @include transition;
        background-size: cover;
        
        @include breakpoint($desktop) { 
            flex: 1;
            font-size: 22px;
            line-height: 1;
            padding: 15% 0 35%;
            height: 0;
        }

        h2 { text-transform: uppercase; }

        .e-explanation {
            font-size: 18px;
            line-height: 24px;
            padding: 15px;
            position: relative;
            top: 600px;
            @include transition;
            background-color: $gray-30;
            height: 300px;
        }

        &:hover .e-explanation { top: 0; }

        &.m-projects {    
            background-color: $purple;
            @include breakpoint($desktop) { background-image: url("../img/fronts-projects.png"); }
        }
        &.m-observatory { 
            background-color: $teal;
            @include breakpoint($desktop) { background-image: url("../img/fronts-observatory.png"); }
        }
        &.m-academy {     
            background-color: $orange;
            @include breakpoint($desktop) { background-image: url("../img/fronts-academy.png"); }
        }
        &.m-community {   
            background-color: $blue;
            @include breakpoint($desktop) { background-image: url("../img/fronts-community.png"); }
        }
    }
}


        
