.b-govlab-fronts {
    display: block;

    @include breakpoint($desktop) { 
        display: flex; 
    }

    .e-mobile-wrap {
        @include breakpoint($desktop) { 
            display: flex;
            flex: 1;
        }        
    }

    .e-govlab-front {
        color: $white-80;
        letter-spacing: 1px;
        padding: 30px 0;
        font-size: 14px;
        text-align: center;
        background-color: $black;
        display: block;
        overflow: hidden;
        @include transition;
        
        @include breakpoint($desktop) { 
            flex: 1;
            justify-content: center;
            font-size: 22px;
            padding: 30px 0;
            padding-bottom: calc(50% - 60px);
            height: 0;
        }

        h2 { text-transform: uppercase; }

        .e-explanation {
            font-size: 18px;
            line-height: 24px;
            padding: 15px;
            position: relative;
            top: 400px;
            @include transition;
        }

        &:hover .e-explanation {
            top: 0;
        }

        &.m-projects { background-color: $purple; }
        &.m-observatory { background-color: $teal; }
        &.m-academy { background-color: $orange; }
        &.m-community { background-color: $blue; }
    }
}


        
