.b-govlab-fronts {
    display: block;
    margin-bottom: -10px;

    .e-govlab-front {
        color: $white-80;
        letter-spacing: 1px;
        padding: 30px 0;
        font-size: 14px;
        text-align: center;
        background-color: $black;
        display: block;
        overflow: hidden;
        @include transition;
        background-size: cover;

        @include breakpoint($desktop) {
            font-size: 22px;
            display: inline-block;
            line-height: 1;
            width: 25%;
            padding: 5% 0 20% 0;
            height: 0;
            margin: 0;
            position: relative;
        }

        h2 {
            text-transform: uppercase;
            font-weight: 600;
        }

        .e-explanation {
            font-size: 18px;
            line-height: 24px;
            top: 100%;
            @include transition;

            @include breakpoint($desktop) {
                padding: 120px 15px;
                height: 110%;
                position: absolute;
                background-color: $gray-80;

            }
            
            @include breakpoint($mobile-only) {
                top: 0;
                background-color: transparent;
                text-transform: uppercase;
                padding: 0 20px;
            }
        }

        &:hover .e-explanation { top: -10%; }

        // The background-images will be replaced by JS interactive graphics in the future
        &.m-projects {
            background-color: $purple;
            @include breakpoint($desktop) { background-image: url("../img/fronts-projects.png"); }
        }
        &.m-observatory {
            background-color: $teal;
            @include breakpoint($desktop) { background-image: url("../img/fronts-living-lib.png"); }
            // @include breakpoint($desktop) { background-image: url("../img/fronts-observatory.png"); }
        }
        &.m-academy {
            background-color: $orange;
            @include breakpoint($desktop) { background-image: url("../img/fronts-academy.png"); }
        }
        &.m-community {
            background-color: $blue;
            @include breakpoint($desktop) { background-image: url("../img/fronts-community.png"); }
        }
    }
}



