#homepage .e-logo img { 
    max-width: 300px; 
    margin-top: 60px;
}


.b-landing-questions {
    text-align: center;
    background-color: $black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
    padding: 80px 20px;
    

    @include breakpoint($desktop) {
        height: 70vh; 
        padding: 0;
    }


    canvas {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.3;
    }

    .e-question {
        font-size: 26px;
        line-height: 1.4;
        text-transform: uppercase;
        color: $white;
        margin: 150px auto 50px auto;
        font-weight: 400;
        letter-spacing: 1px;
        margin-bottom: 65px;

        br {
            display: none;
            @include breakpoint($desktop) {display: inline;}
        }
    }

    .b-button {
        position: relative;
        z-index: 19;
    }
}

