.b-top-nav {
    display: -webkit-flex;
    display: flex;
    // background-color: $black;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0;
    justify-items: center;

    @include breakpoint($desktop) {
        padding: 10px;

    }

    .e-nav-group,
    .e-social-media,
    .e-logo {
        -webkit-flex: 1;
        flex: 1;
    }

    .e-nav-item {
        color: $white-20;
        display: inline-block;
        cursor: pointer;

        &:hover { color: $white; }

        @include breakpoint($desktop) { padding: 10px 15px; }
    }

    .e-nav-group {
        -webkit-flex: none;
        flex: none;
        position: absolute;
        z-index: 20;

        @include breakpoint($mobile-only) {
            width: 100%;
            padding: 13px 15px 6px 15px;
        }

        @include breakpoint($desktop) {
            display: -webkit-flex;
            display: flex;
            position: relative;
            width: 30%;
        }
    }

    .e-nav-trigger,
    .e-search {
        @include breakpoint($mobile-only) { display: block; }
    }

    .e-search {
        display: -webkit-flex;
        display: flex;
        position: relative;
        z-index: 20;
        margin: 0;

        input[type='text'] {
            padding: 4px 6px;
            vertical-align: 5px;
            opacity: 0;
            -webkit-flex: 1;
            flex: 1;
            margin-left: 10px;
            @include breakpoint($desktop) { margin: 8px 0 22px; }

            @include transition;
        }

        &.m-active {

            input[type='text'] {
                opacity: 1;

                @include transition;

                @include breakpoint($desktop) {
                    max-width: 300px;
                }
            }
        }
    }

    .e-logo {
        text-align: center;
        padding: 10px 0 5px 0;

        img {
            max-width: 100px;

            @include breakpoint($desktop) { max-width: 140px; }
        }
    }

    .e-social-media {
        text-align: right;
        display: block;

        @include breakpoint($mobile-only) { display: none; }

        a { @include transition; }
        a:hover { transform: scale(1.4); }
    }
}

.b-main-menu {
    position: fixed;
    left: -100%;
    top: 0;
    bottom: 0;
    right: 100%;
    z-index: 20;
    box-shadow: 0 0 20px $gray-40;
    background-color: $black;
    -webkit-flex-flow: column;
    flex-flow: column;

    @include breakpoint($desktop) { left: -28%; }

    @include transition;

    &.m-active {
        left: 0;
        right: 0;

        @include breakpoint($desktop) { right: 72%; }
    }

    a {
        display: block;
        font-size: 18px;
        padding: 30px;
        color: $white-70;
        text-align: center;
        border-bottom: 1px solid $white-10;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;

        @include breakpoint($desktop) { text-align: right; }

        &:hover { 
            background-color: $gray-10; 
            color: $white;
        }
    }


}
