.b-our-transparency {
    .b-top-section {
        background-color: $purple; 

        h2, h3 {
            text-align: center;
            color: $white;
        }

        h2 {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 100;
            font-size: 30px;
        }

        h3 {
            background-color: $black;
            padding: 10px 0;
            font-weight: 400;

        }
    }

    .e-wrap {
        @include wrap;
        padding: 20px 0;
    }

    .b-our-tranparency-table {
        table {
            th { 
                background-color: $gray-10;
                text-transform: uppercase;
            }

            tr { text-align: left; }
            tr:nth-child(2n) { background-color: $gray-05; }

            td, th {
                padding: 15px;
                font-size: 16px;
                vertical-align: top;
            }

            .e-funder { width: 75%; }
            .e-amount { 
                text-align: right;
                width: 25%;
                font-size: 16px;
            }
            .e-dates { @include breakpoint($mobile-only) {
                display: none;
              
            }}

            td p {
                margin: 0;
                line-height: 1.2;
            }

            .e-name {}

            .e-project {
                font-size: 12px;
                color: $gray-60;
            }
           #mobile-dates{
               display:none;
                @include breakpoint($mobile-only) {
                display: block;
              
            }
           }
               
        }
    }
}