#publications-page {


  .b-top-section {
    h2 { 
      margin-top: 20px; 
      text-align: center;
      font-weight: 200;
      text-transform: uppercase;
      color: $white;
      letter-spacing: .5px;
      line-height: 1.4;
      
      @include breakpoint($desktop) { font-size: 28px; }
    }
  }

  .th {
    img {
      width: 125px;
    }
  }
  .b-top-nav { 
    background-color: $purple; 
  }
  .b-page-section:nth-child(2n) {
      background-color: rgba(0,0,0,0.05);
  }
}
