.b-single-related-content {
    padding-top: 50px;
    padding-bottom: 50px;


    > h2 {
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 40px;
    }

    .e-wrap {
        @include wrap;
        display: flex;
        flex-wrap: wrap;
    }

    .e-article-type {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 0;
        color: $gray-60;
    }

    .e-title {
        font-size: 28px;
        line-height: 1.3;
        font-weight: 800;
        color: $teal;
        text-transform: uppercase;
    }

    .e-half {
        flex: 1;
        min-width: 350px;
        align-items: stretch;
        display: flex;
        flex-flow: column;

        &:nth-of-type(odd) { 
            @include breakpoint($desktop) { padding-right: 60px; }
        }
    }

    .e-content {
        flex: 1;
    }

    .b-button.m-naked {
        color: $teal;
        &:hover {background-color: $gray-10;}
    }
}
