.b-single-description {
    background-color: $gray-80;
    padding: 50px 0 40px;

    &.m-slider { padding: 50px 0 0; }

    h2 {
        margin: 0;
        font-weight: 600;
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    h2,
    .e-description { color: $white; }

    .e-wrap { 
        @include wrap;
    }
}



.b-project-slider {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    position: relative;
    bottom: -40px;
    text-align: center;

    .e-project-slider-wrapper {
        width: 100%; // This width will be replaced by Swipe.js
    }

    .e-project-image {
        display: inline-block;
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);

        @include breakpoint($mobile-only) { max-height: 240px; }

        @include breakpoint($desktop) { max-height: 500px; }

        &:not(.m-active) {
            transform: scale(.7);
            margin-left: -30px;
            margin-right: -30px;
        }
    }
}
