.b-single-description {
    background-color: $gray-80;
    padding: 50px 0 40px;

    h2 {
        margin: 0;
        font-weight: 600;
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    h2,
    .e-description { color: $white; }

    .e-wrap {
        @include wrap;
    }
}

.b-project-slider {
    width: 100%;
    overflow: hidden;
    text-align: center;

    span {
        display: inline-block;

        .e-project-image {
            transition: all 0.5s ease;
            box-shadow: 0 5px 15px rgba(0,0,0,0.2);

            @include breakpoint($mobile-only) { max-height: 240px; }

            @include breakpoint($desktop) { max-height: 500px; }

        }

        &:not(.slick-current) .e-project-image {
            transform: scale(.7);
        }
    }
}
