

.b-sticky{
    background-color: #333;
    padding: 0px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 10px $gray-20;
    z-index: 1;

    &--index { display: none; }
  
    .e-wrap {
        @include wrap;
        color: $white-60;

        p {
            margin: 0 30px 0 0px;

            .e-title {
                text-transform: uppercase;
                font-weight: 600;
                color: $white-90;
                letter-spacing: .8px;

                &:after { content: ':'; }

                @include breakpoint($mobile-only) {
                    display: block;
                    font-size: 16px;

                    &:after { display: none; }
                }
            }

            a {
                color: $white-90;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .e-close {
            float: right;
            margin-right:150px;
            margin-top: 240px;
            opacity: .9;
            border: 1px solid white;
            border-radius: 50%;
            cursor: pointer;

            &:hover { opacity: 1; 
            }
            @include breakpoint($mobile-only) {
            margin-right: 10px;
            margin-top: 20px;
            }
        }
    }

    &.m-gray {
        background-color: $gray-90;
    }
    .e-book {
        margin: 20px 0;
        img {
            margin-right: 40px;
            max-height: 140px;
            margin-bottom: 20px; 
            float: left;
        }
    }
}