#team .b-top-nav { background-color: $purple; }

.b-team {
    padding-top: 50px;

    h1 {
        margin-top: 0;
        color: $white-80;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
    }

    h2 {
        text-align: center;
        color: $white-70;
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 0 0 20px;
    }


.e-team-list {
    background-color: $white;

}

.e-team-member {
    min-height: 300px;
    margin: 0;
    position: relative;
    height: auto;
    border-bottom: 1px solid $gray-10;
    
    h3, h4, p {
        color: $gray-80;
        margin: 0;
    }
    
    h3 {
        font-weight: 600;
        text-transform: uppercase;
    }

    h4 {
        font-weight: 400;
        text-transform: uppercase;
        color: $gray-50;
        margin-bottom: 20px;
    }

    .e-wrap {
        @include wrap;
        display: -webkit-flex;
        display: flex;
        position: relative;
        z-index: 1;

        @include breakpoint($mobile-only) {
            -webkit-flex-flow: column;
            flex-flow: column;
        }

    }

    .e-info,
    .e-bio { margin: 20px; }

    .e-info {
        -webkit-flex: 1;
        flex: 1;
        order: 1;
    }

    .e-bio {
        -webkit-flex: 4;
        flex: 4;
        order: 1;
        @include breakpoint($desktop) { max-height: 500px;}
        @include breakpoint($mobile-only) { max-height: 1000px;}
        height: auto;
        @include transition;

        .b-button.m-less { display: none; }

        &.m-active {
            max-height: 4000px;
            @include transition;

            .b-button.m-more { display: none; }
            .b-button.m-less { display: inline-block; }
        }

        p { margin-bottom: 15px; }

        p:not(:first-of-type) { display: none; }

        p:only-of-type ~ .b-button { display: none; }

        &.m-active p { display: block; }

        .b-button { color: $purple; }
    }
}

.e-team-picture {
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px auto 0;
    height: 180px;
    width: 180px;
    @include circle;

    @include breakpoint($desktop) {
        position: absolute;
        left: -80px;
        top: 0;
        height: 220px;
        width: 220px;
        margin: 20px 50px;
    }
}

// .e-team-member:nth-child(2n) {
//     .e-team-picture {
//         left: auto;
//         right: 0;
//     }

//     .e-info { 
//         order: 2; 
//         text-align: right;
//     }
//     .e-bio { 
//         order: 1; 
//         text-align: right;
//     }
// }
}

.b-project-team {
    padding: 20px 0;
    background-color: $purple;

    h2 {
        color: $white-80;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
    }
       
    .e-container { text-align: center; }

    .e-person {
        @include breakpoint($mobile-only) { 
            display: block; 
            margin-bottom: 30px;
        }

        @include breakpoint($desktop) { 
            display: inline-block; 
            text-align: center;
            padding: 0;
            position: relative;
            height: 0;
        }
    }



    .e-person-pic {
        background-color: $white-20;
        margin: 0;

        @include breakpoint($mobile-only) { 
            width: 70%;
            height: 0;
            padding-bottom: 70%;  
        }
        
        display: inline-block;
        min-height: 120px;
        min-width: 120px;
        background-size: cover;
        background-position: center center;
        @include circle;
        
        @include breakpoint($desktop) {
            height: 150px;
            width: 150px;
            margin: 0 20px;
        }
    }

    .e-team-info {
        vertical-align: top;
        letter-spacing: .5px;
    }

    .e-team-name {
        margin: 0;
        font-weight: 600;
        font-size: 18px;
        color: $white-70;
    }

    .e-team-job {
        margin: 0;
        font-weight: 400;
        line-height: 1;
        font-size: 14px;
        text-transform: uppercase;
        color: $white-40;
    }
}

#beth-simone-noveck {
    .b-button {
        display: inline-block;
    }
}
