.b-job-board {

    .b-top-section {
        height: 200px;
        background-color: $purple; 

        h2, h3 {
            text-align: center;
            color: $white;
        }

        h2 {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 100;
            font-size: 30px;
        }

        h3 {
            background-color: $blue;
            padding: 10px 0;
            font-weight: 400;
        }
    }

    .e-wrap {
        @include wrap;
        padding: 20px 0;

        div {
            .b-button { color: $purple; }
            .b-job-post { display: none; }

            .b-button:after {
                @extend .u-material-icons;
                content: 'keyboard_arrow_down';
                margin-left: 15px;
                vertical-align: bottom;
                position: relative;
            }

            &.m-active {
                max-height: 4000px;
                @include transition;

                .b-button:after {
                    content: 'keyboard_arrow_up';    
                }
                

                .b-job-post { display: block; }
            }
        }


    }

}


