$gray-05: rgba(0,0,0,0.05);
$gray-10: rgba(0,0,0,0.1);
$gray-15: rgba(0,0,0,0.15);
$gray-20: rgba(0,0,0,0.2);
$gray-30: rgba(0,0,0,0.3);
$gray-40: rgba(0,0,0,0.4);
$gray-50: rgba(0,0,0,0.5);
$gray-60: rgba(0,0,0,0.6);
$gray-70: rgba(0,0,0,0.7);
$gray-80: rgba(0,0,0,0.8);
$gray-90: rgba(0,0,0,0.9);

$black: #333;

$white: rgba(255,255,255,1);
$white-10: rgba(255,255,255,0.1);
$white-20: rgba(255,255,255,0.2);
$white-30: rgba(255,255,255,0.3);
$white-40: rgba(255,255,255,0.4);
$white-50: rgba(255,255,255,0.5);
$white-60: rgba(255,255,255,0.6);
$white-70: rgba(255,255,255,0.7);
$white-80: rgba(255,255,255,0.8);
$white-90: rgba(255,255,255,0.9);

$purple: rgba(82,48,128,1);
$purple-20k: #47266f;
$purple-40k: #381759;
$orange: rgba(238,91,67,1);
$orange-20k: #be4936;
$teal: rgba(0,136,149,1);
$teal-20k: #00616b;
$blue: rgba(0,138,179,1);
$blue-20k: #006e8f;

// Breakpoints

$mobile-only: max-width 800px;
$tablet: max-width 1024px;
$desktop: 1025px;


@import 'breakpoint';
@import 'resets';

@mixin transition {
    transition: all .4s ease;
}

@mixin wrap {
    max-width: 1025px;
    margin-left: auto;
    margin-right: auto;
}

@mixin circle {
    overflow: hidden;
    border-radius: 50%;
}

@import 'nav';
@import 'base';
@import 'button';
@import 'breadcrumbs';

@import 'fronts';
@import 'featured-content';
@import 'subscribe';
@import 'sticky';
@import 'footer';

@import 'sandbox';

// Content
@import 'landing-section';
@import 'single-landing';
@import 'single-description';
@import 'single-results';
@import 'single-related-content';
@import 'single-team';
@import 'projects-landing';
@import 'projects-list';
@import 'events';
@import 'team';
@import 'about';
@import 'our-transparency';


// .material-icons {
//   font-family: 'Material Icons';
//   font-weight: normal;
//   font-style: normal;
//   font-size: 24px;  /* Preferred icon size */
//   display: inline-block;
//   width: 1em;
//   height: 1em;
//   line-height: 1;
//   text-transform: none;
//   letter-spacing: normal;
//   word-wrap: normal;

//   /* Support for all WebKit browsers. */
//   -webkit-font-smoothing: antialiased;
//   /* Support for Safari and Chrome. */
//   text-rendering: optimizeLegibility;

//   /* Support for Firefox. */
//   -moz-osx-font-smoothing: grayscale;

//   /* Support for IE. */
//   font-feature-settings: 'liga';
// }
