{% extends "_base_directus.html" %}


{% block content %}
{% raw %}
<div id='projectpage' v-cloak>


    <section class="b-single-landing">
        <header class="b-top-section">
            <div class="b-breadcrumbs">
                <a href="http://www.thegovlab.org/projects.html">Projects</a><i class="material-icons">keyboard_arrow_right</i><span>{{projectData.name}}</span>
            </div>
        </header>
        <div>
            <h2 class="e-project-name">{{projectData.name}}</h2>
            <h3 class="e-question">{{projectData.description}}</h3>
        </div>
        <div class="e-wrap">
            <div class="e-half">
                <div class="e-content">
    
                    <a :href="projectData.project_link" target="_blank" class="e-project-link">Project Website<i class="material-icons">link</i></a>
    
                    <ul class="e-tags">
                        <h5>Governance Area</h5>
                        <li v-if="projectData.governance_area">
                            <span class="e-tag" v-for="etag in projectData.governance_area">{{etag}}</span><br>
                            </li>
                        <h5>Institution Type</h5>
                        <li>
                          <li v-if="projectData.institution_type">
                              <span class="e-tag" v-for="etag in projectData.institution_type">{{etag}}</span><br>
                              </li>
                        <h5>Innovative Capability</h5>
                        <li v-if="projectData.innovative_capability">
                            <span class="e-tag" v-for="etag in projectData.innovative_capability">{{etag}}</span><br>
                            </li>
                        <h5>Product Category</h5>
                        <li v-if="projectData.product_category">
                            <span class="e-tag" v-for="etag in projectData.product_category">{{etag}}</span><br>
                          </li>
                    </ul>
                </div>
            </div>
            <div class="e-half">
                <div class="e-content e-background">
                    <h4>Background</h4>
                    <p v-html="projectData.background"></p>
    
                </div>
            </div>
            <div class="e-half">
                <div class="e-content">
                    <div class="e-location">
                        <h4>Location</h4>
                            <div class="e-place" v-if="projectData.location" v-for="eplace in projectData.location" >{{eplace}}</div>
                    </div>
                </div>
            </div>
            <div class="e-half">
                <div class="e-content">
                    <div class="e-partners">
                        <h4>Partners</h4>
    
                        <div class="e-partner" v-if="projectData.partners" v-for="epartner in projectData.partners" >{{epartner}}</div>
    
    
    
                    </div>
                </div>
            </div>
            <div class="e-progress" :class="progess"><span></span><span></span><span></span><span></span></div>
            <footer>
    
            </footer>
        </div>
    </section>
    <section class="b-single-description m-slider" v-if="projectData.description_full">
        <div class="e-wrap">
            <h2>Description</h2>
            <div class="e-description">
                <p v-html="projectData.description_full"></p>
    
    
            </div>
        </div>
    
         <div class="b-project-slider slick">
            <div v-for="(pic, index) in items">
                <span><img class="e-project-image" :src="pic.directus_files_id.data.full_url" alt=""></span>
            </div>
    </div>
    
    </section>
    
    <section class="b-single-results" v-if="projectData.results">
        <div class="e-wrap">
            <h2 class="e-title">Results &amp; Impact</h2>
            <p v-html="projectData.results"></p>
        </div>
    </section>
    
    
    
    <section class="b-single-related-content" v-if="projectData.more_about">
        <h2>More About Network of Innovators</h2>
        <div class="e-wrap">
    
            <div class="e-article" v-for="(link, name) in projectData.more_about"><a :href="link" target="_blank">{{name}}</a></div>
    
        </div>
    </section>
    
    
    
    <section class="b-project-team" v-if="projectData.project_team">
        <h2>Team</h2>
        <div class="e-container">
    
                <a v-for = "member in projectData.project_team" class="e-person" :href="'http://www.thegovlab.org/team.html#' + member.team_id.slug">
            <div class="e-person-pic" :style="{ backgroundImage: 'url(' + member.team_id.picture.data.thumbnails[3].url+ ')' }"></div>
            <div class="e-team-info">
                <h3 class="e-team-name">{{member.team_id.name}}</h3>
            </div>
        </a>
        </div>
    </section>
    </div>
    <script src='https://unpkg.com/vue@2.0.3/dist/vue.js'></script>
    <script src="https://unpkg.com/vue-meta/dist/vue-meta.min.js"></script>
    <script src="static/js/project_specific.js"></script>
    
    {% endraw %}

{% endblock %}
