{% extends "_base.html" %}
{% block page_id %}about{% endblock %}

{% block og %}
<title>The GovLab | About</title>
<meta content="The GovLab | About" property="og:title"/>
<meta content="Who we are, what we do, how we do it." property="og:description">
{% endblock %}

{% block content %}
<section class="b-about-landing">
    <div class="e-wrap">
        <header>
        </header>
    </div>
</section>
<section class="b-about m-who-we-are">
    <div class="e-wrap">
        <h2>Who we are</h2>
        <p class="e-tagline">The GovLab’s mission is <br>to improve people’s lives by changing the way we govern.</p>
        <p>Our goal is to strengthen the ability of institutions – including but not limited to governments – and people to work more openly, collaboratively, effectively and legitimately to make better decisions and solve public problems.</p>
        <p>We believe that increased availability and use of data, new ways to leverage the capacity, intelligence, and expertise of people in the problem-solving process, combined with new advances in technology and science can transform governance.</p>
        <p>We approach each challenge and opportunity in an interdisciplinary, collaborative way, irrespective of the problem, sector, geography and level of government.</p>
    </div>
</section>
<section class="b-about m-what-we-do">
    <header>
        <h2>What we do</h2>
    </header>
    <div class="e-full">
        <a href="./projects.html" class="e-box m-build">
            <h3>BUILD</h3>
            <p>We develop and test prototypes for new platforms to enable open and collaborative problem-solving inside a variety of organizations.</p>
        </a>
        <a href="http://thegovlab.org/category/blog/" target="_blank" class="e-box m-learn">
            <h3>LEARN</h3>
            <p>We assess and disseminate information and analysis about governance innovations (successes and failures) globally and their impact on people’s lives.</p>
        </a>
        <a href="http://govlabacademy.org" target="_blank" class="e-box m-train">
            <h3>TRAIN</h3>
            <p>We train entrepreneurs to tackle public interest challenges using open innovation to take projects from idea to implementation.</p>
        </a>

        <a href="http://networkofinnovators.org" target="_blank" class="e-box m-connect">
            <h3>CONNECT</h3>
            <p>We build networks of innovators from across disciplines to gain deeper insights and develop new frameworks for improving governance.</p>
        </a>
    </div>
</section>
<section class="b-about m-how-we-do-it">
    <div class="e-wrap">
        <h2>How we do it</h2>
        <p class="e-tagline">We learn by doing</p>

        <div>
            <div class="e-half">
                <p>We embrace failure: failing fast and often, learning from our mistakes and sharing experiences.</p>
                <p>We collaborate with and connect experts and practitioners, across sectors and disciplines, levels of governance and geographies.</p>
            </div>
            <div class="e-half">
                <p>We rely on reproducible experiments and metrics to better understand what works (and what doesn’t) and to translate theory and hypotheses into actionable insights.</p>
                <p>We put users at the center, to ensure we stay focused on improving people’s lives.</p>
            </div>
        </div>
        <div class="e-download"><a href="static/files/govlab-onepager.pdf" class="b-button m-purple" target="_blank">Download our One Pager <i class="material-icons">file_download</i></a></div>
    </div>
</section>
<footer class="b-about m-footer">
    <h1>Welcome to the GovLab</h1>
</footer>
{% endblock %}






