{% extends "_base.html" %}
{% block page_id %}beth-page-temp{% endblock %}
{% block content %}
<div class="b-fancy-bio">
    <div class="b-top-section">
        <div class="e-wrap">
            <div class="e-pic">

            </div>
            <div class="e-info">

                <!-- <div class="e-links">
                    <a href="https://twitter.com/bethnoveck" target="_blank" class="b-social-media"><i class="fa fa-twitter"></i></a>
                    <a href="https://medium.com/@bethnoveck" target="_blank" class="b-social-media"><i class="fa fa-medium"></i></a>
                </div> -->
                <div class="e-names">
                    <h1>Beth Simone Noveck</h1>
                    <h2>Co-founder and Director</h2>
                </div>


            </div>
        </div>
    </div>

    <!-- <div class="b-top-section">
        <div class="e-wrap">
            <div class="e-info">
                <div class="e-names">
                    <h1>Beth Simone Noveck</h1>
                    <h2>Co-founder and Director</h2>
                </div>

                <div class="e-links">
                    <a href="https://twitter.com/bethnoveck" target="_blank" class="b-social-media"><i class="fa fa-twitter"></i></a>
                    <a href="https://medium.com/@bethnoveck" target="_blank" class="b-social-media"><i class="fa fa-medium"></i></a>
                </div>
            </div>
        </div>
    </div> -->
    <div class="e-bio-section">
        <div class="e-wrap">
            <aside>
                <h3>Resources</h3>
                <ul>
                    <li><a href="https://twitter.com/bethnoveck" target="_blank">Twitter</a></li>
                    <li><a href="https://medium.com/@bethnoveck" target="_blank">Medium</a></li>
                    <li><a href="http://www.governing.com/authors/Beth-Simone-Noveck.html" target="_blank">Governing Profile</a></li>
                    <li><a href="http://www.forbes.com/sites/bethsimonenoveck/" target="_blank">Forbes Profile</a></li>
                    <li><a href="https://scholar.google.com/citations?user=3knFlCQAAAAJ" target="_blank">Google Scholar</a></li>
                </ul>
            </aside>
            <div class="e-main-content">
                <p>Beth Simone Noveck is Co-Founder and Director of The GovLab and its MacArthur Research Network on Opening Governance. Funded by the John D. and Catherine T. MacArthur Foundation, the John S. and James L. Knight Foundation and Google.org, the GovLab strives to improve people’s lives by changing how we govern. The GovLab designs and tests technology, policy and strategies for fostering more open and collaborative approaches to strengthen the ability of people and institutions to work together to solve problems, make decisions, resolve conflict and govern themselves more effectively and legitimately.</p>
                <p>The Jerry Hultin Global Network Professor at New York University’s Tandon School of Engineering, she was formerly the Jacob K. Javits Visiting Professor at the Robert F. Wagner Graduate School of Public Service and a visiting professor at the MIT Media Lab. Beth is a professor of law at New York Law School. She served in the White House as the first United States Deputy Chief Technology Officer and director of the White House Open Government Initiative (2009-2011). UK Prime Minister David Cameron appointed her senior advisor for Open Government, and she served on the Obama-Biden transition team. Among projects she’s designed or collaborated on are Unchat, The Do Tank, Peer To Patent, Data.gov, Challenge.gov and the Gov Lab’s Living Labs and training platform, The Academy.</p>
                <p>A graduate of Harvard University and Yale Law School, she serves on the Global Commission on Internet Governance and chaired the ICANN Strategy Panel on Multi-Stakeholder Innovation. She is a member of the Advisory Board of the Open Contracting Partnership. She was named one of the “Foreign Policy 100″ by Foreign Policy, one of the “100 Most Creative People in Business” by Fast Company and one of the “Top Women in Technology” by Huffington Post. She has also been honored by both the National Democratic Institute and Public Knowledge for her work in civic technology.</p>
                <p>Beth is the author of Wiki Government: How Technology Can Make Government Better, Democracy Stronger and Citizens More Powerful, which has also appeared in Arabic, Russian, Chinese and in an audio edition, and co-editor of The State of Play: Law, Games and Virtual Worlds. Her book Smart Citizens, Smarter State: The Technologies of Expertise and the Future of Governing was published by the Harvard University Press in 2015. She tweets <a href="https://twitter.com/bethnoveck" target="_blank">@bethnoveck</a> and writes on Medium <a href="https://medium.com/@bethnoveck" target="_blank">@bethnoveck</a>.</p>
            </div>

        </div>

    </div>
</div>
{% endblock %}