
{% extends "_base.html" %}

{% block content %}

<style>
.date {
  display: block;
  width: 60px;
  height: 60px;
  margin: 20px auto;
  background: #fff;
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  position: relative;
  box-shadow: 0 0 3px #bbb;
  border-radius: 5px
}

.date .binds {
  position: absolute;
  height: 9px;
  width: 40px;
  background: transparent;
  border: 2px solid #9782B3;
  border-width: 0 5px;
  top: -4px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}

.date .month {
  background: #523080;
  display: block;
  padding: 3px 0;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  position: relative;
}

.date .month::after {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  background: #523080;
  bottom: 0;
}

.date .day {
  display: block;
  margin: 0;
  font-size: 20px;
  padding: 2px 0 0 0;
  color: #523080;
}

.date.past {

}

.date.past .binds {
    border-color: #999;
}

.date.past .month {
    background: #555;
}

.date.past .month::after {
    background: #555;
}

.date.past .day {
  color: #555;
}
</style>

<div class="date">
  <span class="binds"></span>
  <span class="month">Aug</span>
  <span class="day">28</span>
</div>

<div class="date past">
  <span class="binds"></span>
  <span class="month">Sep</span>
  <span class="day">1</span>
</div>

{% endblock %}