{% extends "_base.html" %}
{% block page_id %}stefaan-page-temp{% endblock %}
{% block og %}
<title>The GovLab | Dinorah Cantú-Pedraza</title>
<meta content="The GovLab | Dinorah Cantú-Pedraza" property="og:title"/>
<meta content="Dinorah Cantu coordinates the GovLab Academy, an online institute aimed at helping government and social innovators take innovative projects from idea to implementation. Under her direction, the Academy has worked with over five hundred innovators from more than 30 countries online and off over the last two years." property="og:description">
{% endblock %}
{% block content %}
<div class="b-fancy-bio-stefaan">
    <div class="b-top-section">
        <div class="e-wrap">
            <div class="e-pic dinorah">

            </div>
            <div class="e-info">

                <div class="e-names">
                    <h1>Dinorah Cantú-Pedraza</h1>
                    <h2>The GovLab Academy Coordinator</h2>
                    <div class="e-partners">
                        <a class="e-partner-logo m-shuttleworth" href="https://www.shuttleworthfoundation.org/" target="_blank"><img src="static/img/partners/shuttleworth.png" alt="Shuttleworth Foundation"></a>
                    </div>
                    <div class="e-social-media e-nav-group">
                        <a href="https://twitter.com/dinorah_cantu" class="e-nav-item" target="_blank"><i class="e-social-media-item fa fa-twitter aria-hidden="true""></i></a>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="e-bio-section">
        <div class="e-wrap">

            <aside class="b-sidebar">
                <section class="e-section">
                    <h3>Resources</h3>
                    <ul>
                        <li><a href="https://twitter.com/dinorah_cantu" target="_blank">Twitter</a></li>
                    </ul>
                    </section>

                </aside>
                <div class="e-main-content">
                    <p>Dinorah Cantú-Pedraza coordinates the GovLab Academy, an online institute aimed at helping government and social innovators take innovative projects from idea to implementation. Under her direction, the Academy has worked with over five hundred innovators from more than 30 countries online and off over the last two years. Thousands more have watched its skill-building videos. She has put together over 12 Coaching Programs, the Academy’s signature mentoring and peer to peer learning initiative, where over 95% of whose participants complete the program. The Academy is a project of the Governance Lab, based at New York University. GovLab focuses on the use of technology to improve how we govern.</p>
                    <p>Dinorah has also designed the GovLab’s Crowdsorcerer expert system, a software tool to deliver customized case studies to government leaders about open innovation. Working together with lawyers and education experts from NYU, she also designed an expert system to help universities determine the legal requirements for offering online education. She also runs the GovLab’s Demos for Democracy video series where she interviews leading technologists about new platforms to advance the public interest.</p>
                    <p>A lawyer by training, Dinorah founded and directed the Human Rights Center of the Facultad Libre de Derecho de Monterrey prior to coming to New York in 2012. She holds an MPA in Public and Nonprofit Management and Policy at NYU Robert F. Wagner School of Public Service and is passionate about the value of civic technology for strengthening human rights. She is bilingual in English and Spanish and tweets at <a href="https://twitter.com/dinorah_cantu" target="_blank">@dinorah_cantu</a>.</p>

                    <div class="e-collapsed">

 <!--                        <div class="b-button m-show m-naked js-publications-toggle">Selected Publications <i class="material-icons"><i class="material-icons">keyboard_arrow_down</i></i></div>
                        <div class="b-button m-hide m-naked js-publications-toggle">Selected Publications <i class="material-icons"><i class="material-icons">keyboard_arrow_up</i></i></div>

                        <div class="e-selected-publications">
                            <ul>

                            </ul>
                        </div> -->

                        <p></p>

                        <div class="b-button m-show m-naked js-project-toggle">Dinorah's Projects at The GovLab <i class="material-icons"><i class="material-icons">keyboard_arrow_down</i></i></div>
                        <div class="b-button m-hide m-naked js-project-toggle">Dinorah's Projects at The GovLab <i class="material-icons"><i class="material-icons">keyboard_arrow_up</i></i></div>

                        <div class="e-projects">
                            <ul>
                                {% for project in projects %}
                                {% if "Dinorah Cantú-Pedraza" in project.team %}
                                <li><a href="http://www.thegovlab.org/project-{{project.title | slug}}.html">{{project.title}}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                <!-- <div class="e-more-content">
                    <h3>Media</h3>
                    <ul>
                        <li>
                            <a href="" target="_blank"></a>
                        </li>

                    </ul>

                    <h3>Selected Publications</h3>
                    <ul>
                        <li><a href="" target="_blank"></a></li>
                    </ul>
                </div> -->

               <!-- <div class="e-twitter">
                    <a class="twitter-timeline" href="https://twitter.com/sverhulst" data-widget-id="xyz">Tweets by @sverhulst</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div> -->
            </div>
        </div>
    </div>

    {% endblock %}
