{% extends "_base-sg-directus.html" %}

{% block og %}
<title>The GovLab | Events</title>
    <meta content="The GovLab | Events" property="og:title"/>
    <meta content="" property="og:description">
{% endblock %}

{% block page_id %}events{% endblock %}
{% block content %}
{% raw %}
<div class="b-top-section m-purple">
        <h2>Events</h2>
</div>
<div class="b-events" id="event-page" v-cloak>
    <div class="e-wrap e-event-list">
        <!-- <h5>Upcoming Events</h5> -->
        <div class="e-event-item" v-for="event in eventsData" :id="event.slug" v-if="event.status =='published' && event.from >= currentDate">
            <div class="e-wrap">
                <div class="e-event">
                     <h5>{{event.title}}</h5>
                     <div class="e-dates">
                     <i v-if='event.from == event.till' class="material-icons">insert_invitation</i><p v-if='event.from == event.till'>&nbsp{{dateShow(event.from)}}</p>
                     <i v-if='event.from != event.till' class="material-icons">insert_invitation</i><p v-if='event.from != event.till'>&nbsp{{dateShow(event.from)}} - {{dateShow(event.till)}}</p>
                    </div>
                    <div v-if="!event.extended" v-html="event.desc_short"></div>
                    <div v-if="event.extended && event.description" v-html="event.description"></div>
                    <a v-if="!event.extended && event.description" @click="showDesc(event)" class="b-button m-naked" target="_blank"> Read More <i class="material-icons">keyboard_arrow_down</i></a>
                    <a v-if="event.extended" @click="showExc(event)" class="b-button m-naked" target="_blank"> Read Less<i class="material-icons">keyboard_arrow_up</i></a>
                    <a v-if="event.link" @click="eventMore(event.link)" class="b-button m-naked" target="_blank"> RSVP Now!</a>
                </br>
                </div>
            </div>
        </div>
        <h5>Past Events</h5>
        <div class="e-team-member" v-for="event in eventsData" :id="event.slug" v-if="event.status =='published' && event.from <= currentDate">
            <div class="e-wrap">
                <div class="e-event"  style="padding-bottom:20px">
                </br>
                     <h5>{{event.title}}</h5>
                     <div class="e-dates">
                     <i v-if='event.from == event.till' class="material-icons">insert_invitation</i><p v-if='event.from == event.till'>&nbsp{{dateShow(event.from)}}</p>
                     <i v-if='event.from != event.till' class="material-icons">insert_invitation</i><p v-if='event.from != event.till'>&nbsp{{dateShow(event.from)}} - {{dateShow(event.till)}}</p>
                    </div>
                    <div v-if="!event.extended" v-html="event.desc_short"></div>
                    <div v-if="event.extended && event.description" v-html="event.description"></div>
                    <a v-if="!event.extended && event.description && !event.link" @click="showDesc(event)" class="b-button m-naked" target="_blank"> Read More <i class="material-icons">keyboard_arrow_down</i></a>
                    <a v-if="event.extended" @click="showExc(event)" class="b-button m-naked" target="_blank"> Read Less<i class="material-icons">keyboard_arrow_up</i></a>
                    <a v-if="event.link" @click="eventMore(event.link)" class="b-button m-naked" target="_blank"> Read More</a>
                </br>
                </div>
            </div>
        </div>

        </div>
</div>

<script src='https://unpkg.com/vue@2.0.3/dist/vue.js'></script>
<script src="https://unpkg.com/vue-meta/dist/vue-meta.min.js"></script>
<script src="static/js/events.js"></script>

{% endraw %}
{% endblock %}