{% extends "_base.html" %}

 {% block styles %}
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/vendor/normalize.css">
    <link rel="stylesheet" href="static/vendor/slick.css">
    <link rel="stylesheet" href="static/styles/govlab-styleguide.css">
 {% endblock %}

  {% block content %}
  <section class="b-events-landing">
    <header class="b-top-section">
      <div class="row">
        <div class="column small-12">
          <h1>Events</h1>
          <h2><strong>Tagline Copy for the Events Landing Section</strong></h2>
          <h3 class="column medium-12 medium-offset-2 column ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel dui pretium, porttitor metus non, commodo elit. Proin ullamcorper ullamcorper metus, vitae placerat dolor efficitur eu. In consequat lacinia ligula, venenatis mattis lacus. Ut dictum magna magna, varius lobortis libero porttitor a. Suspendisse venenatis aliquet facilisis. Suspendisse vitae porttitor felis. Donec et risus vitae orci dictum feugiat ut ut ex. Donec convallis, nibh eu faucibus pharetra, metus eros tempor nisi, eget tempor leo odio quis risus. Nam eget eros mauris. Proin sed magna tempus, hendrerit arcu non, semper lorem.</h3>
        </div>
      </div>
    </header>
  </section>


  <div class="b-divider m-purple-40k">
    <h1>UPCOMING EVENTS</h1>
  </div>

  <div class="b-slider slick">
    <section id="slide-id" class="b-slide m-purple">
        <div class="row e-content">
            <div class="column medium-4">
              <h5 class="e-project-type"><b>Upcoming Event</b></h5>
              <h2 class="e-question">Data Driven Tensions in Human Rights</h2>
              <h6 class="e-speaker-name">Mark Laterno</h6>
            </div>
            <div class="column medium-4">
              <h5 class="e-project-date-purple"><strong>JULY 31</strong></h5>
                <p>Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima. Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
            </div>
            <div class="column medium-4">

              <div class="full-square" id=alan-kantrow-1>
                <figure>
                  <img src="./static/img/events/alan-kantrow.jpg" id="alan-kantrow-1" alt=" "/>
                </figure>
              </div>

            </div>
        </div>
        <div class="row e-content">
            <div class="column medium-4">
                <div class="e-action">
                    <a class="b-button m-naked" href="./projects.html">All Events<i class="material-icons" id="events-arrows-9">arrow_forward</i></a>
                </div>
            </div>
            <div class="column medium-4">
                <div class="e-action">
                    <a class="b-button m-naked" href="#">RSVP<i class="material-icons" id="events-arrows-10">arrow_forward</i></a>
                </div>
            </div>
            <div class="column medium-4">
            </div>
        </div>
    </section>
    <section id="slide-id" class="b-slide m-purple">
        <div class="row e-content">
            <div class="column medium-4">
              <h5 class="e-project-type"><b>Upcoming Event</b></h5>
              <h2 class="e-question">Data Driven Tensions in Human Rights</h2>
              <h6 class="e-speaker-name">Mark Laterno</h6>
            </div>
            <div class="column medium-4">
              <h5 class="e-project-date-purple"><strong>JULY 31</strong></h5>
                <p>Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima. Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
            </div>
            <div class="column medium-4" id="alan-kantrow-2">
                <figure>
                  <img src="./static/img/events/alan-kantrow.jpg" alt=" "/>
                </figure>
            </div>
        </div>
        <div class="row e-content">
            <div class="column medium-4">
                <div class="e-action">
                    <a class="b-button m-naked" href="./projects.html">All Events<i class="material-icons" id="events-arrows-11">arrow_forward</i></a>
                </div>
            </div>
            <div class="column medium-4">
                <div class="e-action">
                    <a class="b-button m-naked" href="#">RSVP<i class="material-icons" id="events-arrows-12">arrow_forward</i></a>
                </div>
            </div>
            <div class="column medium-4">
            </div>
        </div>
    </section>
    <section id="slide-id" class="b-slide m-purple">
        <div class="row e-content">
            <div class="column medium-4">
              <h5 class="e-project-type"><b>Upcoming Event</b></h5>
              <h2 class="e-question">Data Driven Tensions in Human Rights</h2>
              <h6 class="e-speaker-name">Mark Laterno</h6>
            </div>
            <div class="column medium-4">
              <h5 class="e-project-date-purple"><strong>JULY 31</strong></h5>
                <p>Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima. Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
            </div>
            <div class="column medium-4">
                <figure>
                  <img src="./static/img/events/alan-kantrow.jpg" alt=" "/>
                </figure>
            </div>
        </div>
        <div class="row e-content">
            <div class="column medium-4">
                <div class="e-action">
                    <a class="b-button m-naked" href="./projects.html">All Events<i class="material-icons" id="events-arrows-13">arrow_forward</i></a>
                </div>
            </div>
            <div class="column medium-4">
                <div class="e-action">
                    <a class="b-button m-naked" href="#">RSVP<i class="material-icons" id="events-arrows-14">arrow_forward</i></a>
                </div>
            </div>
            <div class="column medium-4">
            </div>
        </div>
    </section>
</div>

<div class="b-divider m-blue-20k">
  <h1>DEMOS FOR DEMOCRACY</h1>
</div>

<div class="b-slider slick">
  <section id="slide-id" class="b-slide m-teal">
      <div class="row e-content">
          <div class="column medium-4">
            <h5 class="e-project-type"><b>Upcoming Event</b></h5>
            <h2 class="e-question">Data Driven Tensions in Human Rights</h2>
            <h6 class="e-speaker-name">Mark Laterno</h6>
          </div>
          <div class="column medium-4">
            <h5 class="e-project-date-teal"><strong>JULY 31</strong></h5>
              <p>Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima. Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
          </div>
          <div class="column medium-4">
              <figure>
                <img src="./static/img/events/deborah-estrin.jpg" alt=" "/>
              </figure>
          </div>
      </div>
      <div class="row e-content">
          <div class="column medium-4">
              <div class="e-action">
                  <a class="b-button m-naked" href="./projects.html">All Events<i class="material-icons" id="events-arrows-15">arrow_forward</i></a>
              </div>
          </div>
          <div class="column medium-4">
              <div class="e-action">
                  <a class="b-button m-naked" href="#">RSVP<i class="material-icons" id="events-arrows-16">arrow_forward</i></a>
              </div>
          </div>
          <div class="column medium-4">
          </div>
      </div>
  </section>
  <section id="slide-id" class="b-slide m-teal">
      <div class="row e-content">
          <div class="column medium-4">
            <h5 class="e-project-type"><b>Upcoming Event</b></h5>
            <h2 class="e-question">Data Driven Tensions in Human Rights</h2>
            <h6 class="e-speaker-name">Mark Laterno</h6>
          </div>
          <div class="column medium-4">
            <h5 class="e-project-date-teal"><strong>JULY 31</strong></h5>
              <p>Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima. Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
          </div>
          <div class="column medium-4">
              <figure>
                <img src="./static/img/events/deborah-estrin.jpg" alt=" "/>
              </figure>
          </div>
      </div>
      <div class="row e-content">
          <div class="column medium-4">
              <div class="e-action">
                  <a class="b-button m-naked" href="./projects.html">All Events<i class="material-icons" id="events-arrows-17">arrow_forward</i></a>
              </div>
          </div>
          <div class="column medium-4">
              <div class="e-action">
                  <a class="b-button m-naked" href="#">RSVP<i class="material-icons" id="events-arrows-18">arrow_forward</i></a>
              </div>
          </div>
          <div class="column medium-4">
          </div>
      </div>
  </section>
  <section id="slide-id" class="b-slide m-teal">
      <div class="row e-content">
          <div class="column medium-4">
            <h5 class="e-project-type"><b>Upcoming Event</b></h5>
            <h2 class="e-question">Data Driven Tensions in Human Rights</h2>
            <h6 class="e-speaker-name">Mark Laterno</h6>
          </div>
          <div class="column medium-4">
            <h5 class="e-project-date-teal"><strong>JULY 31</strong></h5>
              <p>Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima. Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
          </div>
          <div class="column medium-4">
              <figure>
                <img src="./static/img/events/deborah-estrin.jpg" alt=" "/>
              </figure>
          </div>
      </div>
      <div class="row e-content">
          <div class="column medium-4">
              <div class="e-action">
                  <a class="b-button m-naked" href="./projects.html">All Events<i class="material-icons" id="events-arrows-1">arrow_forward</i></a>
              </div>
          </div>
          <div class="column medium-4">
              <div class="e-action">
                  <a class="b-button m-naked" href="#">RSVP<i class="material-icons" id="events-arrows-2">arrow_forward</i></a>
              </div>
          </div>
          <div class="column medium-4">
          </div>
      </div>
  </section>
</div>

<div class="b-divider  m-purple-40k">
  <h1>IDEAS LUNCH</h1>
</div>

<div class="b-slider slick">
  <section id="slide-id" class="b-slide m-purple">
      <div class="row e-content">
          <div class="column medium-4">
            <h5 class="e-project-type"><b>Upcoming Event</b></h5>
            <h2 class="e-question">Data Driven Tensions in Human Rights</h2>
            <h6 class="e-speaker-name">Mark Laterno</h6>
          </div>
          <div class="column medium-4">
            <h5 class="e-project-date-purple"><strong>JULY 31</strong></h5>
              <p>Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima. Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
          </div>
          <div class="column medium-4">
              <figure>
                <img src="./static/img/events/deborah-estrin.jpg" alt=" "/>
              </figure>
          </div>
      </div>
      <div class="row e-content">
          <div class="column medium-4">
              <div class="e-action">
                  <a class="b-button m-naked" href="./projects.html">All Events<i class="material-icons" id="events-arrows-3">arrow_forward</i></a>
              </div>
          </div>
          <div class="column medium-4">
              <div class="e-action">
                  <a class="b-button m-naked" href="#">RSVP<i class="material-icons" id="events-arrows-4">arrow_forward</i></a>
              </div>
          </div>
          <div class="column medium-4">
          </div>
      </div>
  </section>
  <section id="slide-id" class="b-slide m-purple">
      <div class="row e-content">
          <div class="column medium-4">
            <h5 class="e-project-type"><b>Upcoming Event</b></h5>
            <h2 class="e-question">Data Driven Tensions in Human Rights</h2>
            <h6 class="e-speaker-name">Mark Laterno</h6>
          </div>
          <div class="column medium-4">
            <h5 class="e-project-date-purple"><strong>JULY 31</strong></h5>
              <p>Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima. Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
          </div>
          <div class="column medium-4">
              <figure>
                <img src="./static/img/events/deborah-estrin.jpg" alt=" "/>
              </figure>
          </div>
      </div>
      <div class="row e-content">
          <div class="column medium-4">
              <div class="e-action">
                  <a class="b-button m-naked" href="./projects.html">All Events<i class="material-icons" id="events-arrows-5">arrow_forward</i></a>
              </div>
          </div>
          <div class="column medium-4">
              <div class="e-action">
                  <a class="b-button m-naked" href="#">RSVP<i class="material-icons" id="events-arrows-6">arrow_forward</i></a>
              </div>
          </div>
          <div class="column medium-4">
          </div>
      </div>
  </section>
  <section id="slide-id" class="b-slide m-purple">
      <div class="row e-content">
          <div class="column medium-4">
            <h5 class="e-project-type"><b>Upcoming Event</b></h5>
            <h2 class="e-question">Data Driven Tensions in Human Rights</h2>
            <h6 class="e-speaker-name">Mark Laterno</h6>
          </div>
          <div class="column medium-4">
            <h5 class="e-project-date-purple"><strong>JULY 31</strong></h5>
              <p>Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima. Project description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint recusandae nostrum eos saepe officia vero illum fuga quae at, corporis unde quas sit adipisci neque doloremque fugiat possimus nisi minima.</p>
          </div>
          <div class="column medium-4">
              <figure>
                <img src="./static/img/events/deborah-estrin.jpg" alt=" "/>
              </figure>
          </div>
      </div>
      <div class="row e-content">
          <div class="column medium-4">
              <div class="e-action">
                  <a class="b-button m-naked" href="./projects.html">All Events<i class="material-icons" id="events-arrows-7">arrow_forward</i></a>
              </div>
          </div>
          <div class="column medium-4">
              <div class="e-action">
                  <a class="b-button m-naked" href="#">RSVP<i class="material-icons" id="events-arrows-8">arrow_forward</i></a>
              </div>
          </div>
          <div class="column medium-4">
          </div>
      </div>
  </section>

</div>

<div class="b-divider m-gray-30" id="govlab-footer">
  <div class="row">
      <div class="column small-6">
          <p>This website was created by the NYU GovLab.</p>
      </div>
      <div class="column small-3">
      </div>
      <div class="column small-3">
        <div class="e-social-media e-nav-group">
            <a href="https://twitter.com/TheGovLab" class="e-nav-item" target="_blank"><i class="e-social-media-item fa fa-twitter" id="twitter-icon"></i></a>
            <a href="https://www.facebook.com/thegovlab/" class="e-nav-item" target="_blank"><i class="fa fa-facebook" id="facebook-icon" aria-hidden="true"></i></a>
            <!-- <a href="#" class="e-nav-item" target="_blank"><i class="e-social-media-item fa fa-facebook"></i></a> -->
            <a href="https://www.youtube.com/user/TheGovLab" class="e-nav-item" target="_blank"><i class="e-social-media-item fa fa-youtube-play" id="youtube-icon"></i></a>
            <a href="https://medium.com/@TheGovLab" class="e-nav-item" target="_blank"><i class="fa fa-medium" id="medium-icon" aria-hidden="true"></i></a>
            <a href="https://vimeo.com/govlab" class="e-nav-item" target="_blank"><i class="fa fa-vimeo-square" id="vimeo-icon" aria-hidden="true"></i></a>
        </div>
      </div>
  </div>
</div>
  {% endblock %}
