<!-- Taglines
GovLab Projects: Building new technology to solve public problems 
GovLab Academy: Coaching public entrepreneurs
GovLab Observatory: Reporting on innovations in governance
The GovLab:   -->

{% extends "base.html" %}
{% block content %}
    <section class="b-landing-questions b-top-section">
        <h2 class="e-question">Deepening our understanding of how to govern more effectively and legitimately</h2>
        <a href="#" class="b-button m-purple">Find out More<i class="material-icons">arrow_forward</i></a>
    </section>
    <section class="b-govlab-fronts">
        <div class="e-mobile-wrap">
            <a href="#" class="e-govlab-front m-projects">
                <h2>Projects</h2>
                <p class="e-explanation">See how the GovLab is transforming governance around the world</p>
            </a>
            <a href="#" class="e-govlab-front m-observatory">
                <h2>Observatory</h2>
                <p class="e-explanation">Learn and stay up-to-date on emerging forms of governance innovation</p>
            </a>
        </div>
        <div class="e-mobile-wrap">
            <a href="#" class="e-govlab-front m-academy">
                <h2>Academy</h2>
                <p class="e-explanation">Get training and mentorship for your projects from GovLab's network of experts</p>
            </a>
            <a href="#" class="e-govlab-front m-community">
                <h2>Community</h2>
                <p class="e-explanation">Get answers to your questions, share knowledge and find collaborators</p>
            </a>
        </div>
    </section>
    <section class="b-featured-content m-project">
        <header>
            <div class="e-wrap">
                <h4>Featured Project</h4>
                <h3 class="e-question">How and when to use the <strong>crowd do get better ideas</strong> faster into governing</h3>
            </div>
        </header>
        <h2 class="e-project-name">Network of Innovators</h2>
        <div class="e-wrap">
            <div class="e-half">
                <div class="e-content">
                    
                    <div class="e-tags">
                        <div><a href="#" class="e-tag">Collective Intelligence</a></div>
                        <div><a href="#" class="e-tag">Digital Platform</a></div>
                        <div><a href="#" class="e-tag">Digital Platform</a></div>
                    </div>
                </div>
            </div>
            <div class="e-half">
                <div class="e-content">
                    <p>Pissitio. Eque millace stiumquibus eum qui ut officte sequam voluptate aperior a que eaquunt. Nulloreritia ellorer ionsequia volupta spitibusda nos ditatur res qui dionse dolorunt aped quam, con pro omnisque nus eum anducitat inveri nos endanditam, te odis alitatem recea andia quis alibus vitatque labo. Cab in ea dolut minihitat vitatem adi de lam.</p>
                    <p>Pissitio. Eque millace stiumquibus eum qui ut officte sequam voluptate aperior a que eaquunt. Nulloreritia ellorer ionsequia volupta spitibusda nos ditatur res qui dionse dolorunt aped quam.</p>
                </div>
            </div>
            <div class="e-half">
                <div class="e-action">
                    <a class="b-button m-naked" href="">All Projects<i class="material-icons">arrow_forward</i></a>
                </div>
            </div>
            <div class="e-half">
                <div class="e-action">
                    <a class="b-button m-naked" href="">Find out more<i class="material-icons">arrow_forward</i></a>
                </div>
            </div>
    </section>
    <section class="b-featured-content m-article">
        <h4>Featured Article</h4>
        <div class="e-wrap">
            <div class="e-half">
                <div class="e-content">
                    <h2 class="e-article-name">Looking Back at the “Data-Driven &amp; Collaborative Solutions” Public Forum on Opening Governance</h2>
                    <p class="e-byline">By: <strong>Stefaan Verhulst</strong></p>
                </div>
                <div class="e-action">
                    
                </div>
            </div>
            <div class="e-half">
                <div class="e-content">
                    <p>Pissitio. Eque millace stiumquibus eum qui ut officte sequam voluptate aperior a que eaquunt. Nulloreritia ellorer ionsequia volupta spitibusda nos ditatur res qui dionse dolorunt aped quam, con pro omnisque nus eum anducitat inveri nos endanditam, te odis alitatem recea andia quis alibus vitatque labo. Cab in ea dolut minihitat vitatem adi de lam.</p>
                    <p>Pissitio. Eque millace stiumquibus eum qui ut officte sequam voluptate aperior a que eaquunt. Nulloreritia ellorer ionsequia volupta spitibusda nos ditatur res qui dionse dolorunt aped quam.</p>
                </div>
            </div>
            <div class="e-half">
                <div class="e-action">
                    <a class="b-button m-naked" href="">Read more<i class="material-icons">arrow_forward</i></a>
                </div>
            </div>
            <div class="e-half">
                <div class="e-action">
                    <a class="b-button m-naked" href="">All Articles<i class="material-icons">arrow_forward</i></a>
                </div>
            </div>
        </div>
        <footer>
            <div class="e-wrap">
                <h4><strong>Subscribe</strong>
                The GovLab Digest</h4>

                <form action="">
                    <input type="text" placeholder="Email">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
        </footer>
    </section>
    
        
    <section class="b-featured-content m-event" style="background-image: url(static/img/events/july-31.jpg)">
        <div class="e-wrap">
            <div class="e-half">
                <div class="e-content">
                    <h4>Upcoming Event</h4>
                    <h2 class="e-event-name">Data Driven Tensions <br>in Human Rights</h2>
                    <p class="e-guest">Mark Latonero</p>
                </div>
                
            </div>
            <div class="e-half">
                <div class="e-content">
                    <h4 class="e-event-date">July 31</h4>
                    <p>Pissitio. Eque millace stiumquibus eum qui ut officte sequam voluptate aperior a que eaquunt. Nulloreritia ellorer ionsequia volupta spitibusda nos ditatur res qui dionse dolorunt aped quam, con pro omnisque nus eum anducitat inveri nos endanditam.</p>
                </div>
            </div>
            <div class="e-half">
                <div class="e-action">
                    <a class="b-button m-naked" href="">RSVP<i class="material-icons">arrow_forward</i></a>
                </div>
            </div>
            <div class="e-half">
                <div class="e-action">
                    <a class="b-button m-naked" href="">All Events<i class="material-icons">arrow_forward</i></a>
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="b-sticky">
        <div class="e-wrap">
            <i class="material-icons e-close js-close">close</i>
            <p><strong class="e-title">Sticky Announcement</strong> This is an announcement ad section is fixed at the <a href="#">bottom of the browser</a> window.</p>
        </div>
    </section> -->







{% endblock %}
