<!-- Taglines
GovLab Projects: Building new technology to solve public problems
GovLab Academy: Coaching public entrepreneurs
GovLab Observatory: Reporting on innovations in governance
The GovLab:   -->

{% extends "base.html" %}
{% block page_id %}homepage{% endblock %}
{% block content %}
    <section id="homepage-banner" class="b-landing-questions b-top-section large-header">
        <canvas id="demo-canvas"></canvas>
        <h2 class="e-question">Deepening our understanding of how to govern<br> more effectively and legitimately through technology</h2>
        <a href="./about.html" class="b-button m-purple">Find out More<i class="material-icons">arrow_forward</i></a>
    </section>
    <section class="b-govlab-fronts">
        <div class="e-mobile-wrap">
            <a href="./projects.html" class="e-govlab-front m-projects">
                <h2>Projects</h2>
                <p class="e-explanation">See how the GovLab is transforming governance around the world</p>
            </a>
            <a href="http://thegovlab.org/category/blog/" target="_blank" class="e-govlab-front m-observatory">
                <h2>Observatory</h2>
                <p class="e-explanation">Learn and stay up-to-date on emerging forms of governance innovation</p>
            </a>
        </div>
        <div class="e-mobile-wrap">
            <a href="http://govlabacademy.org" target="_blank" class="e-govlab-front m-academy">
                <h2>Academy</h2>
                <p class="e-explanation">Get training and mentorship for your projects from GovLab's network of experts</p>
            </a>
            <a href="http://networkofinnovators.org" class="e-govlab-front m-community">
                <h2>Community</h2>
                <p class="e-explanation">Get answers to your questions, share knowledge and find collaborators</p>
            </a>
        </div>
    </section>
    <div class="b-featured-content-wrapper m-project">
        <div class="e-banner-container">
            {% for project in projects if project.is_featured %}
                <section id="{{project.title|slug}}" class="b-featured-content m-project">
                    <header>
                        <div class="e-banner-controls">
                            <i class="material-icons e-banner-control m-prev">keyboard_arrow_left</i>
                            <i class="material-icons e-banner-control m-next">keyboard_arrow_right</i>
                        </div>
                        <div class="e-wrap">
                            <div class="e-banner-index">
                                {% set outer_loop = loop %}

                                {% for x in range(projects_slider_counter) %}
                                    <span{% if outer_loop.index == loop.index %} class="m-active"{% endif %}></span>
                                {% endfor %}
                            </div>
                            <h4>Featured Project</h4>
                        </div>
                    </header>
                    
                    <div class="e-wrap">
                        <div>
                            <div class="e-half">
                                <div class="e-content">
                                    <h2 class="e-project-name">{{project.title}}</h2>
                                    <h3 class="e-question">{{project.problem_statement}}</h3>
                                </div>
                            </div>
                            <div class="e-half">
                                <div class="e-content">
                                    {% if project.short_description %} {{project.short_description}}
                                    {% else %} {{project.long_description}}{% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="e-action-group">
                            <div class="e-half">
                                <div class="e-action">
                                    <a class="b-button m-naked" href="./projects.html">All Projects<i class="material-icons">arrow_forward</i></a>
                                </div>
                            </div>
                            <div class="e-half">
                                <div class="e-action">
                                    <a class="b-button m-naked" href="project-{{project.title|slug}}.html">Find out more<i class="material-icons">arrow_forward</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            {% endfor %}
        </div>
        <div class="e-banner-container">
            <!-- this will be pulled via RSS -->
            <section class="b-featured-content m-article">
                <header>
                    <div class="e-banner-controls">
                        <i class="material-icons e-banner-control m-prev">keyboard_arrow_left</i>
                        <i class="material-icons e-banner-control m-next">keyboard_arrow_right</i>
                    </div>
                    <div class="e-wrap">
                        <div class="e-banner-index">
                            <span class="m-active"></span>
                            <span></span>
                            <span></span>
                        </div>
                        <h4>From Our Blog</h4>
                    </div>
                </header>

                <div class="e-wrap">
                    <div>
                        <div class="e-half">
                            <div class="e-content">
                                <h2 class="e-article-name js-article-1-title">Looking Back at the “Data-Driven &amp; Collaborative Solutions” Public Forum on Opening Governance</h2>
                                <p class="e-byline">By: <strong class="js-article-1-author">Stefaan Verhulst</strong></p>
                            </div>
                        </div>
                        <div class="e-half">
                            <div class="e-content js-article-1-content">
                            </div>
                        </div>
                    </div>
                    <div class="e-action-group">
                        <div class="e-half">
                            <div class="e-action">
                                <a class="b-button m-naked" href="http://thegovlab.org/category/blog" target="_blank">All Articles<i class="material-icons">arrow_forward</i></a>
                            </div>
                        </div>
                        <div class="e-half">
                            <div class="e-action">
                                <a class="b-button m-naked js-article-1-link" href="">Read more<i class="material-icons">arrow_forward</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="b-featured-content m-article">
                <header>
                    <div class="e-banner-controls">
                        <i class="material-icons e-banner-control m-prev">keyboard_arrow_left</i>
                        <i class="material-icons e-banner-control m-next">keyboard_arrow_right</i>
                    </div>
                    <div class="e-wrap">
                        <div class="e-banner-index">
                            <span></span>
                            <span class="m-active"></span>
                            <span></span>
                        </div>
                        <h4>From Our Blog</h4>
                    </div>
                </header>

                <div class="e-wrap">
                    <div>
                        <div class="e-half">
                            <div class="e-content">
                                <h2 class="e-article-name js-article-2-title">Looking Back at the “Data-Driven &amp; Collaborative Solutions” Public Forum on Opening Governance</h2>
                                <p class="e-byline">By: <strong class="js-article-2-author">Stefaan Verhulst</strong></p>
                            </div>
                        </div>
                        <div class="e-half">
                            <div class="e-content js-article-2-content">
                            </div>
                        </div>
                    </div>
                    <div class="e-action-group">
                        <div class="e-half">
                            <div class="e-action">
                                <a class="b-button m-naked" href="http://thegovlab.org/blog">All Articles<i class="material-icons">arrow_forward</i></a>
                            </div>
                        </div>
                        <div class="e-half">
                            <div class="e-action">
                                <a class="b-button m-naked js-article-2-link" href="">Read more<i class="material-icons">arrow_forward</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="b-featured-content m-article">
                <header>
                    <div class="e-banner-controls">
                        <i class="material-icons e-banner-control m-prev">keyboard_arrow_left</i>
                        <i class="material-icons e-banner-control m-next">keyboard_arrow_right</i>
                    </div>
                    <div class="e-wrap">
                        <div class="e-banner-index">
                            <span></span>
                            <span></span>
                            <span class="m-active"></span>
                        </div>
                        <h4>From Our Blog</h4>
                    </div>
                </header>

                <div class="e-wrap">
                    <div>
                        <div class="e-half">
                            <div class="e-content">
                                <h2 class="e-article-name js-article-3-title">Looking Back at the “Data-Driven &amp; Collaborative Solutions” Public Forum on Opening Governance</h2>
                                <p class="e-byline">By: <strong class="js-article-3-author">Stefaan Verhulst</strong></p>
                            </div>
                        </div>
                        <div class="e-half">
                            <div class="e-content js-article-3-content">
                            </div>
                        </div>
                    </div>
                    <div class="e-action-group">
                        <div class="e-half">
                            <div class="e-action">
                                <a class="b-button m-naked" href="http://thegovlab.org/blog">All Articles<i class="material-icons">arrow_forward</i></a>
                            </div>
                        </div>
                        <div class="e-half">
                            <div class="e-action">
                                <a class="b-button m-naked js-article-3-link" href="">Read more<i class="material-icons">arrow_forward</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="b-subscribe">
            <div class="e-wrap">
                <div>
                    <h4><strong>Subscribe</strong>
                    The GovLab Digest</h4>
                    <p>A weekly curation of new findings and developments on innovation in governance</p>
                </div>

                <form method="post" action="//example.us11.list-manage.com/subscribe/post?u=2a4cb5c39a02e4a15720e67f6&amp;id=6d88660395" target="_blank" >
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_2a4cb5c39a02e4a15720e67f6_6d88660395" tabindex="-1" value=""></div>

                    <input type="email" name="EMAIL" placeholder="Email">
                    <button type="submit">Subscribe</button>
                </form>
            </div>
            <div class="e-wrap">
                <p><a href="http://thegovlab.org/category/govlab-digest/" target="_blank" class="b-button m-naked">Go to Digest<i class="material-icons">arrow_forward</i></a></p>
            </div>
        </div>

        <div class="e-banner-container">
            {% for event in events if event.is_featured and not event.has_passed %}
                <section id="{{event.guest|slug}}" class="b-featured-content m-event" style="background-image: url(static/img/events/{{event.image}})">
                    <header>
                        <div class="e-banner-controls">
                            <i class="material-icons e-banner-control m-prev">keyboard_arrow_left</i>
                            <i class="material-icons e-banner-control m-next">keyboard_arrow_right</i>
                        </div>
                        <div class="e-wrap">
                            <div class="e-banner-index">
                                {% set outer_loop = loop %}

                                <!-- Esse loop está pegando o número total de eventos, e não somente os "is_fatured" -->
                                {% for x in range(events_slider_counter) %}
                                    <span{% if outer_loop.index == loop.index %} class="m-active"{% endif %}></span>
                                {% endfor %}
                            </div>

                        </div>
                    </header>
                    <div class="e-wrap">
                        <div>
                            <div class="e-half">
                                <h4 class="e-event-heading">{{event.type}}</h4>
                                <div class="e-content">
                                    <h2 class="e-event-name">{{event.title}}</h2>
                                    <p class="e-guest">{{event.guest}}</p>
                                </div>
                            </div>
                            <div class="e-half">
                                <h4 class="e-event-heading">{{event.date.strftime("%B %d")}}</h4>
                                <div class="e-content">
                                    <p>{{event.short_description}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="e-action-group">
                            <div class="e-half">
                                <div class="e-action">
                                    <a class="b-button m-naked" href="events.html">All Events<i class="material-icons">arrow_forward</i></a>
                                </div>
                            </div>
                            <div class="e-half">
                                <div class="e-action">
                                    <a class="b-button m-naked" href="{{event.url}}">{% if event.type == 'IdeasLunch' %}RSVP{% else %}Learn More{%endif%}<i class="material-icons">arrow_forward</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            {% endfor %}
        </div>
    </div>
    <!-- <section class="b-sticky">
        <div class="e-wrap">
            <i class="material-icons e-close js-close">close</i>
            <p><strong class="e-title">Sticky Announcement</strong> This is an announcement ad section is fixed at the <a href="#">bottom of the browser</a> window.</p>
        </div>
    </section> -->

{% endblock %}
