
{% extends "_base.html" %}

{% block og %}
<meta content="The GovLab | Job Board" property="og:title"/>
<meta content="Current job openings at The Governance Lab at NYU Tandon School of Engineering." property="og:description">
{% endblock %}

{% block content %}
<div class="b-job-board">
    <section class="b-top-section">
        <header>
            <h2>Job Board</h2>
        </header>
    </section>
    <div class="e-wrap">
        <h2>Mission &amp; Vision</h2>
        <p>The Governance Lab at NYU Tandon School of Engineering aims to improve our lives and communities by changing how we govern using new technology. We design, implement and study high impact, multi-disciplinary projects with partners in city, state, and national governments and other public interest organizations in the United States and around the world.</p>

        <h2>Current Openings</h2>
        <!-- <p>There are currently no openings. Please check again soon.</p> -->

        <div id="">
            <div class="b-button m-naked js-job-toggle">
                Research Assistant (Intern)
            </div>
            <section class="b-job-post">

<!--                 <h3>
                    EXCITING OPPORTUNITY FOR A RESEARCH ASSISTANT
                    TO HELP IMPROVE PEOPLE’S LIVES BY CHANGING HOW WE GOVERN
                    USING DATA AND TECHNOLOGY
                </h3> -->

                <p><b>Closing Date:</b> Open until filled.</p>

                <p><b>Location:</b> While the majority of the GovLab’s staff is based in Brooklyn (NYC), we strive to be a global organization with team members located all over the world.</p>

                <p><a href="http://www.thegovlab.org/">The GovLab</a> works to redesign how institutions work to the end of improving real people’s lives. We focus on how to bring new technology, new methods and new scientific insights to bear to open up and improve how institutions make decisions or provide services at the local, state, national and international level.  (More info at <a href="http://www.thegovlab.org/">http://www.thegovlab.org/</a>) </p>

                <p>We are now seeking research interns to support GovLab in a variety of research, data and policy analysis, writing, and community management tasks. The research assistant would support and work under the supervision of Stefaan Verhulst, GovLab’s Co-Founder and Chief of Research while contributing to some of the current projects: </p>

                <ul>
                    <li>Data Collaboratives: Corporate Data for Public Good (<a href="http://datacollaboratives.org/">http://datacollaboratives.org/</a>)</li>
                    <li>Blockchange: Blockchain Technologies for Social Change (<a href="https://blockchan.ge/">https://blockchan.ge/</a>)</li>
                    <li>Open Data’s Impact (<a href="http://odimpact.org/">http://odimpact.org/</a>)</li>
                    <li>Open Governance Research Network (<a href="http://opening-governance.org/">http://opening-governance.org/</a>)</li>
                    <li>Open Governance Research Exchange (<a href="http://ogrx.org/">http://ogrx.org/</a>)</li>
                    <li>People Led Innovation (<a href="http://www.thegovlab.org/people-led-innovation">http://www.thegovlab.org/people-led-innovation</a>)</li>
                </ul>

                <p>GovLab interns are given the unique opportunity to work with leading specialists and thinkers on how to re-design governance and how to re-imagine democracy.</p>

                <p><b>Responsibilities (may) include (depending on skill-set):</b></p>
                <ul>
                    <li>Network support and engagement with leaders and practitioners working to leverage data to improve governance and solve public problems; </li>
                    <li>Mapping and researching the emerging field of innovation in governance; </li>
                    <li>Documenting, and synthesizing the findings from reviews of published literature related to the field of open government; </li>
                    <li>Identifying and capturing new ideas and practices on how to make decisions and solve public problems; </li>
                    <li>Data and/or policy analysis;</li>
                    <li>Providing news and other updates through blog posts and social media on subjects related to the work of the GovLab; </li>
                    <li>Completing various tasks to support the ongoing development of the GovLab Observatory which includes the weekly GovLab Digest;</li>
                    <li>Supporting communications and meetings held on behalf of the GovLab and the members of its Network; </li>
                    <li>Developing case studies to complement existing projects</li>
                    <li>Other tasks as assigned. </li>
                </ul>
                <p><b>Preferred Qualifications:</b></p>
                <ul>
                    <li>Graduate student with background in law; data sciences; communications; technology, computer sciences; political science;  public policy, international affairs and/or economics; </li>
                    <li>Strong communication and comfort engaging with high-level personnel from the public and private sectors in a professional manner; </li>
                    <li>Proven research, technical and analytical skills; </li>
                    <li>Strong writing and editing abilities; </li>
                    <li>Familiarity with new research tools and interest in new ways of presenting information (including visualization tools); </li>
                    <li>Attention to detail and the ability to work independently; </li>
                    <li>Proficient with social media and web platform technologies; </li>
                    <li>Demonstrated commitment to and interest in the field. </li>
                </ul>
                <p><b>Position Specifics:</b></p>
                <ul>
                    <li>Hourly position with pay rate based on NYU student employee pay scale </li>
                    <li>Possible full-time position (35 hours per week) during the Summer </li>
                </ul>
                <h3>How to Apply</h3>
                <p>All interested applicants should apply by submitting a resume, cover letter, description of relevant academic and professional project experiences, and writing or data analysis / visualization sample via the posting to <a href="mailto:lauren@thegovlab.org">lauren@thegovlab.org</a>.</p>
                <p>Expected start date:  As soon as feasible for all parties involved.</p>
            </section>
        </div>


    </div>
</div>


{% endblock %}

























