{% extends "_base_directus.html" %}

{% block og %}
<title>The GovLab | Job Board</title>
<meta content="The GovLab | Job Board" property="og:title" />
<meta content="Current job openings at The Governance Lab at NYU Tandon School of Engineering."
    property="og:description">
{% endblock %}

{% block content %}
{% raw %}
<div id="job-board" class="b-job-board" v-cloak >
    <section class="b-top-section">
        <header>
            <h2>Job Board</h2>
        </header>
    </section>
    <div class="e-wrap">
        <h2>Mission &amp; Vision</h2>
        <p>The Governance Lab at NYU Tandon School of Engineering aims to improve our lives and communities by changing
            how we govern using new technology. We design, implement and study high impact, multi-disciplinary projects
            with partners in city, state, and national governments and other public interest organizations in the United
            States and around the world.</p>

        
        <div class="" >
            <h2>Current Openings</h2>
            <!-- <p>There are currently no openings. Please check again soon.</p> -->
            <div v-for='(jobs, index) in jobData'>
    
        <p v-if="!jobs_toggle"><span class="b-button  m-naked" @click="toggle('jobs', index)">{{jobs.job_title}} <i
            class="material-icons"><i class="material-icons">keyboard_arrow_down</i></i></span></p>
        <p v-if="jobs_toggle"> <span class="b-button  m-naked"  @click="toggle('jobs', index)">{{jobs.job_title}}<i
            class="material-icons"><i class="material-icons">keyboard_arrow_up</i></i></span></p>
        <section class="">
            <div v-if="jobs_toggle==true && index_val==index" v-html="jobs.job_description"></div>
        </section>

        </div>
        </div>
    </div>
</div>
<script src='https://unpkg.com/vue@2.0.3/dist/vue.js'></script>
<script src="https://unpkg.com/vue-meta/dist/vue-meta.min.js"></script>
<script src="static/js/jobs.js"></script>
{% endraw %}
{% endblock %}