
{% extends "_base.html" %}

{% block og %}
<meta content="The GovLab | Job Board" property="og:title"/>
<meta content="Current job openings at The Governance Lab at NYU Tandon School of Engineering." property="og:description">
{% endblock %}

{% block content %}
<div class="b-job-board">
    <section class="b-top-section">
        <header>
            <h2>Job Board</h2>
        </header>
    </section>
    <div class="e-wrap">
        <h2>Mission &amp; Vision</h2>
        <p>The Governance Lab at NYU Tandon School of Engineering aims to improve our lives and communities by changing how we govern using new technology. We design, implement and study high impact, multi-disciplinary projects with partners in city, state, and national governments and other public interest organizations in the United States and around the world.</p>

        <h2>Current Openings</h2>
        <p>There are currently no openings. Please check again soon.</p>
    </div>
</div>


{% endblock %}

























