{% extends "_base-sg.html" %}

{% block og %}
<title>The GovLab | Paraguay Skills Examples</title>
<meta property="og:title" content="The GovLab | Innovation Skills Examples" />
<meta content="Innovation Skills Examples" property="og:description">
{% endblock %}

{% block styles %}
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
{% endblock %}

{% block page_id %}skills-page{% endblock %}

{% block content %}

<style type="text/css">
	/* some quick fixes for the z-index, should address properly in SG later */
	.b-main-menu {
		z-index: 20;
	}

	.leaflet-top {
		z-index: 10;
	}
</style>

<main role="main">
	<!-- main content starts here -->
	<div class="b-top-section m-purple">
		<h3>&nbsp</h3>
		<h2 class="m-english">Innovation Skills Examples</h2>
		<!-- <h2 class="m-spanish m-hide">Ejemplos de habilidades de innovación</h2> -->

		<div class="e-view-switcher">
			<div class="e-switch-wrap">
				<p class="e-view-button js-en m-active" title="View in Grid Layout">EN</p>
				<!-- <p class="e-view-button js-es" title="View in List Layout">ES</p> -->
			</div>
		</div>
	</div>

	<div class="m-english">
		<div class="b-divider" id="problem-definition-en">
			<h3>Problem Definition</h3>
			<div class="e-view-switcher">
			</div>
		</div>

		<div class="b-page-section b-directions">
			<div class="row">

				<div class="medium-8 small-11 small-centered medium-centered columns">
					<h3></h3>
					<div class="video-container">
					<iframe class="video-frame" src="https://www.youtube.com/embed/DXInwz0m1xE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<p>One of the advantages of defining the problem with others is the opportunity to re-frame the
						problem. In the 1978 Art of Problem Solving, Russell Ackoff illustrates the example of the “slow
						elevator problem.” Hotel guests complain to the manager that the elevator is too slow. The
						Manager consults an engineer who defines the problem mechanically and proposes the obvious
						solution of replacing the elevator engine at great expense. But the manager digs deeper and
						hires a psychologist who reframes the problem as “the wait is annoying.” Then it suddenly
						becomes obvious that hanging a mirror outside of the elevator for people to gaze in will reduce
						frustration more cheaply. By framing the problem differently, suddenly you discover a more
						actionable opportunity to solve it.

					</p>

					<p>If you're interested in learning more about Problem Definition, here are a few suggestions for
						further reading and watching:</p>

					<ul>
						<li><a href="https://hbr.org/2017/01/are-you-solving-the-right-problems">HBR Article, Are You
								Defining the Right Problem?</a></li>
						<li><a href="https://www.youtube.com/watch?v=3tYj_6Pbf04">Alph Bingham, Problem Definition
								Video</a></li>
						<li><a href="https://www.youtube.com/watch?v=OyTEfLaRn98">Defining a Problem, Crash Course
								Kids</a></li>
						<li><a href="https://positivedeviance.org/how-to-get-started/">Positive Deviance Field Guide</a>
						</li>
					</ul>

					One cannot come up with workable solutions until one has defined, as concretely as possible, the
					problem to be solved together with those affected and with experts.
				</div>
			</div>

		</div>

		<div class="b-divider" id="human-centered-design-en">
			<h3>Human-centered Design</h3>
		</div>

		<div class="b-page-section b-directions">
			<div class="row">

				<div class="medium-8 small-11 small-centered medium-centered columns">
					<h3></h3>
					<div class="video-container">
						<iframe class="video-frame" src="https://www.youtube.com/embed/StaHkH8gpV0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
	
					<p>
						Family 100 was a project to help bring about a deeper understanding of the experiences of
						families living in urban poverty in Auckland, New Zealand. The project engaged with families
						that were selected to represent the diversity of the population living in poverty. The study
						participants were regular users of the Auckland City Mission’s foodbank service. Participants
						provided detailed information on a wide range of relevant topics including: housing, food,
						services, education, justice, debt, employment, health and support networks. The project
						developed this tool that offered a human centred perspective and fostered empathy, challenged
						assumptions and identified opportunities for change.
					</p>

					<p>If you're interested in learning more about Human-Centered Design, here are some suggestions for
						further reading and watching:
					</p>

					<ul>

						<li><a href="https://designthinkingforeducators.com/">IDEO Design Thinking for Educators </a>
						</li>
						<li><a href="https://www.ideo.com/post/design-kit">IDEO Human Centered Design Toolkit</a></li>
						<li><a href="https://diytoolkit.org/tags/human-centered-design/">DIY Toolkit</a></li>
						<li><a href="https://www.nesta.org.uk/toolkit/designing-for-public-services-a-practical-guide/">NESTA
								Designing Public Services</a></li>
						<li><a href="https://serviceinnovationhandbook.org/methods/">Service Innovation Toolkit</a></li>
					</ul>
				</div>
			</div>

		</div>

		<div class="b-divider" id="data-analytical-thinking-en">
			<h3>Data Analytical Thinking</h3>
		</div>

		<div class="b-page-section b-directions">
			<div class="row">

				<div class="medium-8 small-11 small-centered medium-centered columns">
					<h3></h3>
					<div class="video-container">
						<iframe class="video-frame" src="https://www.youtube.com/embed/WfZk-LWdMcA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					

					<p>In an effort to reduce New Orleans’s murder rate, Mayor Mitch Landrieu created a unit in city
						government dubbed the innovation team or i-Team to tackle the problem. Using data on murder
						rate, crime rate, educational attainment, unemployment rate, and recidivism rate by neighborhood
						and dating back to 1960, the team uncovered a significant correlation between unemployment and
						violent crime (and thus recidivism). The data showed that a majority of murders in New Orleans
						were committed by a small and identifiable set of people in a few neighborhoods as the result of
						petty disputes. Municipal agencies instituted various programs to train and hire ex-offenders in
						an effort to reduce the likelihood of the formerly incarcerated reoffending. The Team’s work led
						to a decline in the murder rate by 20% between 2012 and 2013, and the number continues to drop.
						In 2018, murders in New Orleans were at their lowest level in almost fifty years.
					</p>
					<p> If you're interested in learning more outside of this survey, please see the following
						resources:
					</p>

					<ul>
						<li><a href="https://sppd.thegovlab.org">The GovLab’s Solving Public Problems with Data Online
								Course</a></li>
						<li><a href="https://theodi.org/article/open-data-skills-framework">Open Data Institute Skills
								Framework</a></li>
						<li><a href="http://datacollaboratives.org/canvas.html">Data Collaboratives Canvas</a></li>

					</ul>
				</div>
			</div>

		</div>

		<div class="b-divider" id="evidence-review-en">
			<h3>Evidence Review</h3>
		</div>


		<div class="b-page-section b-directions">
			<div class="row">

				<div class="medium-8 small-11 small-centered medium-centered columns">
					<h3></h3>
					<p>Knowing what works is an important way to identify possible solutions. The skill of evidence
						review
						is the process of assessing possible solutions using academic research, grey literature and
						practical experience to inform policy-making. It involves a systematic review process of
						identifying
						and critically evaluating research from various sources and disciplines. Evidence review
						involves
						the development of a research question, identification of sources of evidence, articulation of
						criteria for evaluating the research and evaluation of whether the solution worked based on the
						evidence.
					</p>

					<p>It informs decision making with recommendations for practice of what worked and what didn’t in a
						specific context, what remains unknown and uncertain.
					</p>
					<p>In 2017 New South Wales (Australia) adopted a container deposit recycling scheme (CDR) with the objective of reducing waste from drink containers. The decision was informed by systematic review of evidence of 47 examples of CDR projects around the world. Evidence included results from research and practice. This evidence review informed NSW policy makers on the impact of CDR schemes on waste reduction, under which conditions they work best and operational feasibility. See full article
					</p>
					<p>If you're interested in learning more about Evidence Synthesis, here are some suggestions for further reading:
					</p>
					
					
					
					<ul>
						<li><a href="https://www.futuremedicine.com/doi/10.2217/cer-2019-0132">Peter Bragge, Ten Ways to Optimise Evidence-Based Policy</a></li>
						<li><a href="https://www.researchgate.net/publication/232263029_How_to_read_a_paper_Papers_that_summarise_other_papers_systematic_reviews_and_meta-analyses">Selecting Approaches for Rapid Review Starr</a></li>
					</ul>

				</div>
			</div>

		</div>

		<div class="b-divider" id="open-innovation-en">
			<h3>Open Innovation</h3>
		</div>


		<div class="b-page-section b-directions">
			<div class="row">

				<div class="medium-8 small-11 small-centered medium-centered columns">
					<h3></h3>
					<div class="video-container">
						<iframe class="video-frame" src="https://www.youtube.com/embed/_UCp4dEnreY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>

					<p>An open innovation platform called Better Reykjavik is enabling the capital city of Iceland to
						crowdsource solutions to urban challenges. Many suggestions revolve around the common urban
						themes of transportation, construction, and environmental issues. Reykjavik residents submit
						proposals or vote on proposals submitted by others. Importantly, every month, Reykjavik’s
						Mayor’s Office reviews the best ideas for implementation. The platform has grown in popularity
						because of its relevance. Now more than half the city’s population has participated in proposing
						or voting on solutions and 20% of the population regularly uses the site. Since 2011, 20,000
						registered users have submitted more than 6,800 proposals, of which more than 600 have been
						implemented.


					</p>

					<p>If you're interested in learning more about Open Innovation, here are some suggestions for
						further
						reading and watching:</p>
					<ul>
						<li> MIT Sloan, <a
								href="https://sloanreview.mit.edu/article/using-open-innovation-to-identify-the-best-ideas/">Using
								Open Innovation to Identify the Best Ideas</a></li>
						<li> Mozilla, <a href="https://toolkit.mozilla.org/">Open Innovation Toolkit</a></li>
						<li> HHS Idea Lab, <a href="https://www.hhs.gov/idealab/competes/toolkit/">Open Innovation
								Toolkit</a></li>


					</ul>

				</div>
			</div>

		</div>

		<div class="b-divider" id="behavioural-insights-en">
			<h3>Behavioural Insights</h3>
		</div>


		<div class="b-page-section b-directions">
			<div class="row">

				<div class="medium-8 small-11 small-centered medium-centered columns">
					<h3></h3>
					<p>Using insights about human behaviour from psychology, cognitive science, and social science, we
						can
						design and test solutions, including new policies and services, that encourage individuals to
						make
						better decisions. Behavioural insights involve understanding behaviours related to an issue,
						prioritising key behaviours to change in order to achieve an outcome, and empirically testing
						the
						effectiveness of behaviour change strategies using using a randomized controlled trial.
					</p>

					<p>Behavioral insights aim at improving the welfare of citizens and consumers through policies and
						services that are formed based on empirically-tested results. This ability to test what works is
						key
						to implementing solutions effectively. It has been used across public services to generate low
						cost
						interventions to improve outcomes. Behaviour change can also make a big contribution to solving
						complex social, environmental and organisational problems.
					</p>

					<p>In 2013 the Environment Protection Authority Victoria (EPA) was facing a decline in the payment
						of litter fines even though the fines for litter thrown out of cars were increasing. The EPA
						tested behaviour change approaches such as personalisation and loss aversion on the information
						that was presented to the offenders in order to encourage on-time payment. In addition, it
						modified the process for submitting statutory declarations to reduce the number of people
						avoiding payment. The trial showed an average increase of 13% on the people who were avoiding
						late fines by paying on time, and an 18% reduction in the number of people submitting statutory
						declarations.
					</p>

					<ul>
						<li><a
								href="http://www.behaviouralinsights.co.uk/publications/east-four-simple-ways-to-apply-behavioural-insights/">EAST:
								Four Simple Ways to Apply Behavioural Insights Toolkit</a></li>
						<li><a
								href="http://www.oecd.org/gov/regulatory-policy/Behavioural-Insights-Toolkit-and-Ethical-Guidelines-for-Policy-Makers.htm">OECD
								Behavioural Insights Toolkit</a></li>
						<li><a href="https://www.behaviourworksaustralia.org/the-method/">Behaviour Works Method</a>
						</li>
					</ul>
				</div>
			</div>

		</div>

		<div class="b-divider" id="lean-agile-en">
			<h3>Lean Agile Methods</h3>
		</div>


		<div class="b-page-section b-directions">
			<div class="row">

				<div class="medium-8 small-11 small-centered medium-centered columns">
					<h3></h3>
					<div class="video-container">
						<iframe class="video-frame" src="https://www.youtube.com/embed/74aMSXhOWfg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<p>Previously stalled, Denmark switched to re-developing its online business registration system
						using an agile approach. That is to say, they developed the project in modular bursts with
						frequent testing of prototypes on real users, and within three years were able to reduce the
						average time needed to resolve a customer’s problems over the phone from 16 minutes to 5 minutes
						and dropped the number of customers needing phone support from 70 percent of applications in
						2009 to only 30 percent today.
					</p>
					<p>If you're interested in learning more about Lean Agile, here are some suggestions for further
						reading:</p>

					<ul>
						<li><a href="https://playbook.cio.gov/">US Government Digital Services Playbook</a></li>
						<li><a href="https://www.innovations.harvard.edu/blog/path-agile-policymaking">Harvard Kennedy
								School, The Path to Agile Policymaking</a></li>
						<li><a href="https://www.leanservicecreation.com/material/LSC%20Handbook%201.82.pdf">Futurice,
								Lean Service Creation Toolkit</a>
						</li>
						<li><a
								href="http://www3.weforum.org/docs/WEF_Agile_Governance_Reimagining_Policy-making_4IR_report.pdf">WEF,
								Agile Governance Whitepaper</a>
						</li>
					</ul>
				</div>
			</div>

		</div>
		<div class="b-divider" id="eval-en">
			<h3>Impact Evaluation Methods</h3>
		</div>


		<div class="b-page-section b-directions">
			<div class="row">

				<div class="medium-8 small-11 small-centered medium-centered columns">
					<h3></h3>
					<p>The Sacred Heart Mission in Victoria conducted in 2009 a randomised controlled trial to test the
						impact of the program "Journey to Social Inclusion" on chronic homelessness and social
						inclusion. The program consisted of providing intensive support to long-term homeless.
						Beneficiaries of the program were randomly selected and compared to a ‘control group’ (similar
						group that did not receive the program). After two years, results showed that the program had a
						positive impact on housing retention, physical well-being and savings for the government of up
						to $32,080 per participant. The program had no impact on drug use and jobs. Learnings from the
						pilot were used to refine and expand the second phase of the project which is currently being
						tested.
					</p>
					<p>If you're interested in learning more about Impact Evaluation, here are some suggestions for
						further reading:
					</p>

					<ul>
						<li><a href="http://www.worldbank.org/en/programs/sief-trust-fund/publication/impact-evaluation-in-practice">World Bank, Impact Evaluation in Practice Handbook</a></li>
						<li><a href="https://ocw.mit.edu/resources/res-14-002-abdul-latif-jameel-poverty-action-lab-executive-training-evaluating-social-programs-2011-spring-2011/index.htm">MIT Open Courseware, JPAL Executive Training: Evaluating Social Programs</a></li>
					</ul>
				</div>
			</div>

		</div>

		<div class="b-divider" id="evidence-en">
			<h3>Systems Thinking</h3>
		</div>


		<div class="b-page-section b-directions">
			<div class="row">

				<div class="medium-8 small-11 small-centered medium-centered columns">
					<h3></h3>
					<p>The Australian National Outlook project, led by CSIRO and the National Australia Bank, brings together leaders from more than 20 organisations across business, research and civil society to produce integrated economic, social and environmental modelling that paints the big picture for a national conversation about Australia's future to 2060. The project combines CSIRO's research methodology in integrated modelling with social, environmental and economic data and expert perspectives, to consider where Australia might be in decades to come. This systems modelling is used as the basis for proposing five major system shifts - in industry, energy, urban, land and culture.
					</p>
					<p>If you're interested in learning more about Systems Thinking, here are some suggestions for further reading:
					</p>

					<ul>
						<li><a href="https://www.burgehugheswalsh.co.uk/systems-thinking/tools.aspx">Tools of a Systems Thinker by Leyla Acaroglu</a></li>
						<li><a href="https://www.burgehugheswalsh.co.uk/systems-thinking/tools.aspx">Systems Thinking Tools by Burge Hughes Walsh</a></li>
						<li><a href="https://thesystemsthinker.com/palette-of-systems-thinking-tools/">Palette of Systems Thinking Tools by The Systems Thinker</a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>

	<!-- Spanish Text-->

	<!-- <div class="m-spanish m-hide">
		<div class="b-divider" id="problem-definition">
			<h3>Definición de Problema</h3>
		</div>

		<div class="b-page-section b-directions">
			<div class="row">

				<div class="medium-8 small-11 small-centered medium-centered columns">
					<h3></h3>
					<p>Una de las ventajas al definir un problema de manera colaborativa es que el proceso crea la
						oportunidad para replantear el problema. Russell Ackoff en el Arte Solucionar Problemas
						publicado en 1978, ilustra el ejemplo del "problema del ascensor": Los huéspedes del hotel se
						quejan con el gerente sobre la lentitud del ascensor. El gerente consulta a un ingeniero que
						define el problema de manera mecánica y propone la solución obvia de reemplazar el motor del
						ascensor, con un costo elevado. Pero el gerente profundiza más y contrata a un psicólogo que
						replantea el problema como "la espera es molesta". Por lo tanto, colgar un espejo fuera del
						ascensor para que la gente se mire en él, reducirá la frustración de forma más barata. Al
						plantear el problema de manera diferente y colaborativa, se descubre una posibilidad más viable
						de resolverlo.
					</p>

					<p>Si está interesado en aprender más sobre la Definición del Problema, aquí presentamos sugerencias
						para leer y ver:</p>
					<p>En inglés:</p>
					<ul>
						<li><a href="https://hbr.org/2017/01/are-you-solving-the-right-problems">HBR Article, Are You
								Defining the Right Problem?</a></li>
						<li><a href="https://www.youtube.com/watch?v=3tYj_6Pbf04">Alph Bingham, Problem Definition
								Video</a></li>
						<li><a href="https://www.youtube.com/watch?v=OyTEfLaRn98">Defining a Problem, Crash Course
								Kids</a></li>
						<li><a href="https://positivedeviance.org/how-to-get-started/">Positive Deviance Field Guide</a>
						</li>
					</ul>
					<p>En español:</p>

					<ul>
						<li><a
								href="https://ctb.ku.edu/es/tabla-de-contenidos/analizar/analizar-problemas-y-soluciones-en-la-comunidad/definir-analizar-el-problema/principal">CTB:
								Definir y analizar el problema</a></li>
					</ul>

				</div>
			</div>

		</div>

		<div class="b-divider" id="human-centered-design">
			<h3>Diseño Centrado en las Personas</h3>
		</div>

		<div class="b-page-section b-directions">
			<div class="row">

				<div class="medium-8 small-11 small-centered medium-centered columns">
					<h3></h3>
					<p>Un tsunami devastó el Puerto de la Ciudad de Constitución, Chile en 2010. Para minimizar el
						impacto social, el gobierno de Arauco solicitó un plan para la reconstrucción sustentable de la
						ciudad en 100 días. En lugar de desarrollar e imponer un plan de reconstrucción, el plan fue
						desarrollado a través de un proceso abierto, inclusivo e iterativo basado en los principios de
						diseño centrado en las personas para entender a la comunidad, la economía y las dinámicas
						sociales. En el proceso se identificaron problemas de fondo más allá de la destrucción causada
						por el tsunami tales como baja inversión en infraestructura y una pobre planeación urbana. El
						resultado de este proceso culminó en soluciones sustentables para disminuir el impacto de
						futuros tsunamis así como la construcción de una ciudad más sustentable y equitativa con el
						apoyo de la comunidad. (UNDP)</p>


					<p>Si está interesado en aprender más sobre el diseño centrado en las personas, aquí tiene algunas
						sugerencias para leer y ver:
					</p>
					<p>En inglés:</p>
					<ul>
						<li><a href="https://www.ideo.com/post/design-kit">IDEO Human Centered Design Toolkit</a></li>
						<li><a href="https://diytoolkit.org/tags/human-centered-design/">DIY Toolkit</a></li>
						<li><a href="https://www.nesta.org.uk/toolkit/designing-for-public-services-a-practical-guide/">NESTA
								Designing Public Services</a></li>
						<li><a href="https://serviceinnovationhandbook.org/methods/">Service Innovation Toolkit</a></li>
					</ul>
					<p>En español:</p>
					<ul>
						<li><a
								href="https://dschool-old.stanford.edu/sandbox/groups/designresources/wiki/31fbd/attachments/027aa/GU%C3%8DA%20DEL%20PROCESO%20CREATIVO.pdf?sessionID=8af88fee76ecd1fb7879c915073461486c425622">STANFORD
								Guía del proceso creativo</a></li>
						<li><a href="https://es.diytoolkit.org/">DIY toolkit</a></li>
					</ul>



				</div>
			</div>

		</div>

		<div class="b-divider" id="data-analytical-thinking">
			<h3>Análisis e Interpretación de Datos
			</h3>
		</div>


		<div class="b-page-section b-directions">
			<div class="row">

				<div class="medium-8 small-11 small-centered medium-centered columns">
					<h3></h3>


					<p>La ciudad de Río de Janeiro mapeó los baches en las vialidades con base a 42,000 reportes. En
						lugar de centrarse en las áreas con mayor número de baches, Río, en colaboración con la empresa
						Waze, utilizó los datos de tráfico de los usuarios para identificar aquellas áreas donde los
						baches afectan en mayor medida al tráfico. De este modo el gobierno priorizó de manera más
						eficiente las solicitudes de mantenimiento. El análisis de datos de tráfico también ayudó a
						diseñar las rutas para la recolección de basura, despliegue eficiente de cámaras de vigilancia y
						agentes de tránsito. (Waze- Connected Citizens Program)

					</p>

					<p> Si está interesado en aprender más sobre la interpretación de datos, aquí tiene algunas
						sugerencias para leer y ver:
					</p>
					<p>En inglés:</p>

					<ul>
						<li><a href="https://sppd.thegovlab.org">The GovLab’s Solving Public Problems with Data Online
								Course</a></li>
						<li><a href="https://theodi.org/article/open-data-skills-framework">Open Data Institute Skills
								Framework</a></li>
						<li><a href="http://datacollaboratives.org/canvas.html">Data Collaboratives Canvas</a></li>

					</ul>
					<p>En español:</p>
					<ul>
						<li><a
								href="https://blogs.iadb.org/conocimiento-abierto/es/6-pasos-para-el-buen-analisis-de-datos/">BID
								6 pasos para el buen análisis de datos.</a></li>
						<li><a href="https://blogs.iadb.org/conocimiento-abierto/es/procesamiento-y-analisis-de-datos/">BID
								procesamiento y análisis de datos.</a></li>
						<li><a href="https://www.edx.org/course/datos-para-la-efectividad-de-las-politicas-publica">BID
								datos para la efectividad de las políticas públicas – curso online</a></li>
						<li><a
								href="https://bbvaopen4u.com/es/actualidad/datos-por-la-causa-asi-se-usa-big-data-para-resolver-problemas-sociales">BBVA
								big data para resolver problemas sociales</a></li>
					</ul>
				</div>
			</div>

		</div>

		<div class="b-divider" id="evidence-review">
			<h3>Revisión Sistemática de Evidencia</h3>

		</div>


		<div class="b-page-section b-directions">
			<div class="row">

				<div class="medium-8 small-11 small-centered medium-centered columns">
					<h3></h3>
					<p>En 2017, el estado de New South Wales (NSW) en Australia implementó un esquema de depósito
						monetario para promover el reciclaje de envases (DRE) y reducir la cantidad de desechos. Esta
						decisión fue informada por una revisión sistemática de la evidencia arrojada por 47 proyectos
						DRE en todo el mundo. La evidencia incluyó resultados académicos y prácticos. Esta revisión de
						evidencia contribuyó al diseño del esquema DRE, informando a los diseñadores de políticas
						ambientales de NSW sobre el impacto de los esquemas en la reducción de desechos, las condiciones
						bajo las que funcionan los esquemas y la viabilidad operativa
					</p>


					<p> Si está interesado en aprender más sobre revisión sistemática de evidencia aquí tiene algunas
						sugerencias para leer:</p>
					<p>En inglés:</p>
					<ul>
						<li><a
								href="https://www.researchgate.net/publication/232263029_How_to_read_a_paper_Papers_that_summarise_other_papers_systematic_reviews_and_meta-analyses">Selecting
								Approaches for Rapid Review Starr</a></li>
						<li><a href="https://www.futuremedicine.com/doi/10.2217/cer-2019-0132">Peter Bragge, Ten Ways to
								Optimise Evidence-Based Policy</a></li>


					</ul>

				</div>
			</div>

		</div>

		<div class="b-divider" id="open-innovation">
			<h3>Innovación Abierta</h3>
		</div>


		<div class="b-page-section b-directions">
			<div class="row">

				<div class="medium-8 small-11 small-centered medium-centered columns">
					<h3></h3>
					<p>La municipalidad de San Pedro Garza en México llevó a cabo un programa de innovación abierta
						buscando utilizar los conocimientos de la ciudadanía para resolver ciertos problemas públicos.
						Entre ellos, el tráfico ocasionado por la entrada y salida de los niños a la escuela: 85% de los
						niños en edad escolar viajan en transporte privado de manera individual. El municipio invitó a
						la ciudadanía a ingresar propuestas para solucionar el problema y aquellas viables, fueron
						desarrolladas y validadas en programas pilotos. Uno de los pilotos redujo a 5% el porcentaje de
						niños que viaja de manera individual (Forbes/GovLab).


					</p>


					<p>Si está interesado en aprender más sobre la innovación abierta aquí tiene algunas sugerencias
						para leer y ver:</p>
					<p>En inglés:</p>
					<ul>
						<li> MIT Sloan, <a
								href="https://sloanreview.mit.edu/article/using-open-innovation-to-identify-the-best-ideas/">Using
								Open Innovation to Identify the Best Ideas</a></li>
						<li> Mozilla, <a href="https://toolkit.mozilla.org/">Open Innovation Toolkit</a></li>
						<li> HHS Idea Lab, <a href="https://www.hhs.gov/idealab/competes/toolkit/">Open Innovation
								Toolkit</a></li>


					</ul>
					<p>En español:</p>
					<li><a href="http://lab.gob.cl/permitido-innovar/">LABORATORIO
							DE GOBIERNO CHILE Guía para innovar</a></li>
					<li><a
							href="https://www.undp.org/content/undp/es/home/blog/2016/3/9/Open-Innovation-Challenges-find-new-perspectives-and-solutions-to-complex-problems.html">PNUD
							Desafíos de innovación abierta</a></li>
					<li><a href="https://blogs.iadb.org/conocimiento-abierto/es/como-resolver-un-reto-de-negocio/">BID
							¿Cómo resolver un reto de negocio a
							través de la innovación abierta?</a>
					<li><a
							href="https://blogs.iadb.org/conocimiento-abierto/es/la-colaboracion-y-el-intercambio-de-conocimiento-es-clave-para-crear-soluciones-inclusivas-y-robustas/">BID
							Métodos de conocimiento abierto</a>
					</li>





				</div>
			</div>

		</div>

		<div class="b-divider" id="behavioural-insights">
			<h3>Ciencias del Comportamiento Humano</h3>
		</div>


		<div class="b-page-section b-directions">
			<div class="row">

				<div class="medium-8 small-11 small-centered medium-centered columns">
					<h3></h3>
					<p>El Ministerio de Educación de Perú diseñó estrategias basadas en ciencias del comportamiento para
						mejorar la ejecución de recursos destinados al mantenimiento preventivo de las escuelas
						públicas. Se realizó un experimento de asignación aleatoria en el cual se encontró que, mediante
						el envío de mensajes de texto con mensajes especialmente diseñados para cambiar el
						comportamiento, se pueden motivar cambios de conducta. En este caso, se incrementó hasta en
						cinco puntos porcentuales la probabilidad de que un director o directora de colegio público
						declare oportunamente lo invertido en el mantenimiento preventivo de sus planteles (MINEDU).
					</p>

					<p>Si está interesado en aprender más sobre las estrategias basadas en ciencias del comportamiento,
						aquí tiene algunas sugerencias para leer y ver:
					</p>
					<p>En inglés:</p>
					<ul>
						<li><a
								href="http://www.behaviouralinsights.co.uk/publications/east-four-simple-ways-to-apply-behavioural-insights/">EAST:
								Four Simple Ways to Apply Behavioural Insights Toolkit</a></li>
						<li><a
								href="http://www.oecd.org/gov/regulatory-policy/Behavioural-Insights-Toolkit-and-Ethical-Guidelines-for-Policy-Makers.htm">OECD
								Behavioural Insights Toolkit</a></li>
						<li><a href="https://www.behaviourworksaustralia.org/the-method/">Behaviour Works Method</a>
						</li>
					</ul>
					<p>En español</p>
					<ul>
						<li><a
								href="https://blogs.worldbank.org/es/developmenttalk/es/ciencias-del-comportamiento-en-las-politicas-publicas">BANCO
								MUNDIAL Ciencias del comportamiento en las políticas públicas</a></li>
						<li><a
								href="https://www.lnpp.mx/publicacion/guia-practica-para-aplicar-las-ciencias-del-comportamiento-en-politicas-publicas/">LNPP
								Guía práctica para aplicar las ciencias del comportamiento en políticas públicas</a>
						</li>
						<li><a href="https://www.bi.team/wp-content/uploads/2016/09/v9-imec-vol-1-1.pdf">INSTITUTO
								MEXICANO DE ECONOMÍA DEL COMPORTAMIENTO Guía práctica</a>
						</li>
					</ul>




				</div>
			</div>

		</div>
	</div> -->
</main>

{% endblock %}