
{% extends "_base-full-og.html" %}

{% block og %}
<title>The GovLab | Open Data Demand</title>
<meta content="The GovLab | Open Data Demand Assessment and Segmentation Methodology" property="og:title"/>
<meta content="http://www.thegovlab.org/static/files/publications/open-data-demand-report.png" property="og:image"/>
<meta content="Matching supply and demand to increase the value of open data" property="og:description">
<meta property="og:type" content="website" />
<meta content="The GovLab" property="og:site_name">

<meta name="twitter:card" content="summary_large_image">
{% endblock %}

{% block content %}
<div class="b-report">
    <section class="b-top-section">
        <h1>Open Data Demand</h1>
        <h2>Toward an Open Data Demand Assessment and Segmentation Methodology</h2>
        <div class="b-logos">
            <a href="/"><img src="static/img/govlab-logo-white-transpo.png"></a><a href="https://www.afd.fr/en/agence-francaise-de-developpement" target="_blank"><img src="static/img/afd-logo-white.png"></a><a href="https://www.iadb.org/en" target="_blank"><img src="static/img/idb-logo-white.png"></a>
        </div>
        <div class="b-fold">
            <a href="static/files/publications/open-data-demand-methodology.pdf" class="b-button">Download the Methodology</a>
            <a href="static/files/publications/Data+Demand.pdf" class="b-button">Download the Report</a>
        </div>
    </section>

            <div class="e-wrap-col">
              <div class = "row">
                <div class ="column">
                <div>
                    <img class="b-main-image-col" src="static/img/open-data-demand-methodology.jpg">
                </div>
              </div>
                <div class = "column">
                  <p>Across the world, significant time and resources are being invested in making government data accessible to all with the broad goal of improving people’s lives.Evidence of <a href="http://odimpact.org">open data’s impact</a>—on improving governance, empowering citizens, creating economic opportunity, and solving public problems—is emerging and is largely encouraging.</p>
                  <p>Yet much of the potential value of open data remains untapped, in part because we often do not understand who is using open data or, more importantly, who is not using open data but could benefit from the insights it may generate. By identifying, prioritizing, segmenting, and engaging with the actual and future demand for open data in a systemic and systematic way, practitioners can ensure that open data is more targeted.</p>
                  <p>We know that we cannot simply focus on releasing open data, nor can we build a portal without understanding its possible uses and demand. Yet, we often do just that. Understanding and meeting the demand for open data can increase overall impact and return on investment of public funds.</p>
              </div>
            </div>
              <p>The GovLab, in partnership with the <a href="https://www.iadb.org/en">Inter-American Development Bank</a>, developed the Open Data Demand and Assessment Methodology (Beta) to provide open data policymakers and practitioners with an approach for identifying, segmenting, and engaging with demand. This process specifically seeks to empower data champions within public agencies who want to improve their data’s ability to improve people’s lives.</p>

            </div>
          <div class="e-wrap" style= "padding-top: 10px;">
            <div style="text-align: center;">
              <a href="static/files/publications/open-data-demand-templates.pdf" class="b-button">Download the Templates</a>
            </div>
            <p>To learn more about GovLab’s <a href="http://odimpact.org">open data work</a>, or to explore implementing the methodology, please contact Stefaan Verhulst (<a href="mailto:stefaan@thegovlab.org">stefaan@thegovlab.org</a>)</p>
          </div>
      </div>



{% endblock %}
