{% extends "base.html" %}
{% block content %}
<div class="b-our-transparency">
    <section class="b-top-section">
        <header>
            <h2>Our Transparency</h2>
            <h3>GovLab Grants and Contracts 2013-To Date</h3>
        </header>
    </section>
    <section class="b-our-tranparency-table">
        <div class="e-wrap">

            <table>
                <thead>
                    <th class="e-name">Funder</th>
                    <th class="e-project">Project</th>
                    <th class="e-amount">Amount</th>
                </thead>
                
                {% for funder in funders %}
                <tr>
                    <td class="e-name">{{funder.name}}</td>
                    <td class="e-project">{{funder.project}}</td>
                    <td class="e-amount">{{funder.amount}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>
</div>
</section>
{% endblock %}






