{% extends "_base_directus.html" %}

{% block og %}
<title>The GovLab | Our Transparency</title>
    <meta content="The GovLab | Our Transparency" property="og:title"/>
    <meta content="GovLab Grants and Contracts since 2013." property="og:description">
{% endblock %}

{% block content %}
{% raw %}

<div class="b-our-transparency">
    <section class="b-top-section">
        <header>
            <h2>Our Transparency</h2>
            <h3>GovLab Grants and Contracts since 2013</h3>
        </header>
    </section>

    <section class="b-our-tranparency-table" id='funds' v-cloak>
        <div class="e-wrap">
            <table>
                <thead>
                    <tr><th class="e-name">Funder</th>
                    <th class="e-amount">Amount</th>
                </tr></thead>

                <tbody>
                  <tr v-for="funder in fundData" v-if="funder.status == 'published'">
                    <td class="e-funder">
                        <p class="e-name">{{funder.name}}</p>
                        <p class="e-project">{{funder.description}}</p>
                    </td>
                    <td class="e-amount" v-if="funder.amount == 0 || funder.amount==null">In kind</td>
                    <td class="e-amount" v-else>{{currency(funder.amount)}}</td>
                </tr>
            </tbody></table>
        </div>
    </section>
</div>



<script src='https://unpkg.com/vue@2.0.3/dist/vue.js'></script>
<script src="https://unpkg.com/vue-meta/dist/vue-meta.min.js"></script>
<script src="static/js/funds.js"></script>
{% endraw %}
{% endblock %}
