{# Define a macro to render each project item #}
{% macro item(title, problem_statement, is_active, tooltip) -%}
    <div class="e-project-item js-tooltip-trigger m-active-{{is_active}}">
        <h2><a href="project-{{title | slug}}.html">{{title}}</a></h2>
        <div class="e-project-blurb">
            {% if problem_statement %}<p>{{problem_statement}}</p>{% endif %}
            {#{% if tooltip %}<div class="e-project-tooltip">{{tooltip}}</div>{% endif %}#}
        </div>
    </div>
{%- endmacro %}

{% extends "base.html" %}
{% block content %}

{# here we start the template#}

<section class="b-projects-landing b-top-section">
    <h2>Building new technology to solve public problems</h2>
    <h3>Our Projects try to answer the questions that stand between today and more effective and legitimate governance tomorrow</h3>
    <div class="e-view-switcher">
        <i class="e-view-button material-icons js-view-grid-trigger m-active" title="View in Grid Layout">view_module</i>
        <i class="e-view-button material-icons js-view-list-trigger" title="View in List Layout">view_headline</i>
    </div>
</section>
<div class="b-project-view m-grid">
    <section class="b-projects-list-wrapper m-data">
        <div class="e-project-type">
            <h4>Smarter Governance Through</h4>
            <h2>Data</h2>
        </div>
        <div class="e-project-list">
            <h3 class="e-project-question">How to open up <strong>government data</strong> for solving problems</h3>
            <div class="e-project-group">
                {% for project in projects %}
                    {% if project.related_question == 1 %}

                        {{ item(project.title, project.problem_statement, project.is_active, project.tooltip) }}
                    
                    {% endif %}
                {% endfor %}
            </div>
            <h3 class="e-project-question">How to enable data sharing from <strong>public sector</strong> to <strong>private sector</strong></h3>
            <div class="e-project-group">
                {% for project in projects %}
                    {% if project.related_question == 2 %}
                    
                        {{ item(project.title, project.problem_statement, project.is_active, project.tooltip) }}
                    
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="b-projects-list-wrapper m-collective-intelligence">
        <div class="e-project-type">
            <h4>Smarter Governance Through</h4>
            <h2>Collective Intelligence</h2>
        </div>
        <div class="e-project-list">
            <h3 class="e-project-question">How and when to use <strong>the crowd</strong> to get better ideas faster into governing</h3>
            <div class="e-project-group">
                {% for project in projects %}
                    {% if project.related_question == 3 %}
                        
                        {{ item(project.title, project.problem_statement, project.is_active, project.tooltip) }}

                    {% endif %}
                {% endfor %}
            </div>
            <h3 class="e-project-question">How and when to <strong>target specific people</strong> in the crowd</h3>
            <div class="e-project-group">
                {% for project in projects %}
                    {% if project.related_question == 4 %}
                    
                    {{ item(project.title, project.problem_statement, project.is_active, project.tooltip) }}

                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </section>
    <section class="b-projects-list-wrapper m-design-thinking">
        <div class="e-project-type">
            <h4>Smarter Governance Through</h4>
            <h2>Design Thinking</h2>
        </div>
        <div class="e-project-list">
            <!-- <h3 class="e-project-question">How to do <strong>agile research</strong> about innovation in governance</h3>
            <div class="e-project-group">
                {% for project in projects %}
                    {% if project.related_question == 'How to do <strong>agile research</strong> about innovation in governance' %}
                    
                    {{ item(project.title, project.problem_statement, project.is_active, project.tooltip) }}

                    {% endif %}
                {% endfor %}
            </div> -->
            <h3 class="e-project-question">How to take innovative public interest projects <strong>from idea to implementation</strong></h3>
            <div class="e-project-group">
                {% for project in projects %}
                    {% if project.related_question == 5 %}
                    
                    {{ item(project.title, project.problem_statement, project.is_active, project.tooltip) }}

                    {% endif %}
                {% endfor %}
            </div>
            {# <h3 class="e-project-question">How to develop an <strong>open data map</strong> of responses and actors by <strong>leveraging collective intelligence</strong></h3>
            <div class="e-project-group">
                {% for project in projects %}
                    {% if project.related_question == 'How to develop an <strong>open data map</strong> of responses and actors by <strong>leveraging collective intelligence</strong>' %}
                    
                    {{ item(project.title, project.problem_statement, project.is_active, project.tooltip) }}

                    {% endif %}
                {% endfor %}
            </div> #}
        </div>
    </section>
</div>
{% endblock %}