{% extends "base.html" %}
{% set project = data[0] %}
{% block content %}
<section class="b-single-landing">
    <header class="b-top-section">
        <h3 class="e-question">{{project.problem_statement}}</h3>
    </header>

    <div class="e-wrap">
        <h2 class="e-project-name">{{project.title}}</h2>
        <div class="e-half">
            <h3 class="e-project-tagline">{{project.tagline}}</h3>
            <div class="e-content">
                <a href="{{project.project_website}}" target="_blank" class="e-project-link">Project Website<i class="material-icons">link</i></a>
                <div class="e-tags">
                    <div>
                    {% for tag in project.tags.governance_area %}
                        <span class="e-tag">{{ tag }}</span>
                    {% endfor %}
                    {% for tag in project.tags.type_of_institution %}
                        <span class="e-tag">{{ tag }}</span>
                    {% endfor %}
                    {% for tag in project.tags.innovative_capability %}
                        <span class="e-tag">{{ tag }}</span>
                    {% endfor %}
                    {% for tag in project.tags.product_category %}
                        <span class="e-tag">{{ tag }}</span>
                    {% endfor %}
                    </div>
                </div>
                <div class="e-location">
                    <h4>Location</h4>
                    {% for place in project.location %}
                    <div class="e-place">{{place}}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="e-half">
            <div class="e-content e-background">
                <h4>Background</h4>
                {{project.long_description}}
            </div>
        </div>
        <div class="e-progress m-{{project.status}}"><span></span><span></span><span></span><span></span></div>
        <footer>
            {% if project.social_media %}
            <div class="e-social-media">
                <h4>Share this Project</h4>
                <a href="#" class="e-nav-item"><i class="e-social-media-item fa fa-twitter"></i></a>
                <a href="#" class="e-nav-item"><i class="e-social-media-item fa fa-facebook"></i></a>
                <a href="#" class="e-nav-item"><i class="e-social-media-item fa fa-google-plus"></i></a>
                <a href="#" class="e-nav-item"><i class="e-social-media-item fa fa-github"></i></a>
            </div>
            {% endif %}
        </footer>
    </div>
</section>
<section class="b-single-description {% if project.images %}m-slider{% endif %}">
    <div class="e-wrap">
        <h2>Description</h2>
        <p class="e-description">An expert network of individuals, organizations and the projects they have worked on. Together with the communications tools to ask a question, create groups, and engage other for collaboration.
        </p>
    </div>
    {% if project.images %}
    <div class="b-project-slider">
        <div class="e-project-slider-wrapper">
            {% for image in project.images %}
                <!-- <div ></div> -->
                <img class="e-project-image" src="./static/img/projects/{{image}}" alt="">
            {% endfor %}
        </div>
    </div>
    {% endif %}
</section>
<section class="b-single-results">
    <div class="e-wrap">
        <div class="e-half">
            <h2 class="e-title">Results &amp; Impact</h2>
            <p>These are the results and real world impact of this project. Otas eaque et quo inciisci veriorrorum aut veni omnis quatus cusdanditas dolum dem exeria di conescid quam dolorpo ratur, nullignima doluptis sedi officid etCerferion rati sint aut quam quas vero ipsame dolorum quiberiatis eium assum es eatempo rehento tatem.</p>
        </div>
        <div class="e-half">
            <img src="static/img/results-1.png" alt="">
        </div>
        <div class="e-half">
            <img src="static/img/results-2.png" alt="">
        </div>
        <div class="e-half">
            <img src="static/img/results-3.png" alt="">
        </div>
    </div>
</section>
<section class="b-team">
    <h2>Team</h2>
    <div class="e-wrap">
    {% for person in project.team %} 
    <div class="e-person">
        <div class="e-person-pic" style="background-image: ./static/img/team/{{person.name | slug}}.jpg"></div>
        <hgroup class="e-team-info">
            <h4 class="e-team-name">{{ person.name }}</h4>
            <h5 class="e-team-job">{{ person.job }}</h5>
        </hgroup>
    </div>
    {% endfor %}
    </div>
</section>
<section class="b-single-related-content">
    <h2>Articles About the Network of Innovators</h2>
    <div class="e-wrap">
        <article class="e-half e-blog">
            <h3 class="e-article-type">Blog</h3>
            <h2 class="e-title">The Role of the Network of Innovators</h2>
            <div class="e-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur id excepturi rerum sunt eligendi possimus accusamus perspiciatis velit quo, nostrum eveniet inventore tempora autem libero, debitis quis nobis, impedit deserunt.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eligendi animi quibusdam praesentium magnam fugiat sit nostrum nihil quae temporibus suscipit, aliquid tempore ducimus a, minima, odit veniam! A, velit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eligendi animi quibusdam praesentium magnam fugiat sit nostrum nihil quae temporibus suscipit, aliquid tempore ducimus a, minima, odit veniam! A, velit.</p>
            </div>
            <div class="e-action">
                <a class="b-button m-naked" href="">Read More<i class="material-icons">arrow_forward</i></a>
            </div>
        </article>
            
        <article class="e-half e-article">
            <h3 class="e-article-type">Article</h3>
            <h2 class="e-title">Why a Network of Innovators</h2>
            <div class="e-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ipsum quos suscipit at, corporis, natus aliquid magni fugiat. Quaerat inventore alias vero iste ducimus saepe itaque ex sapiente dolorum minus?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ipsum quos suscipit at, corporis, natus aliquid magni fugiat. Quaerat inventore alias vero iste ducimus saepe itaque ex sapiente dolorum minus?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ipsum quos suscipit at, corporis, natus aliquid magni fugiat. Quaerat inventore alias vero iste ducimus saepe itaque ex sapiente dolorum minus?</p>
            </div>
            <div class="e-action">
                <a class="b-button m-naked" href="">Read More<i class="material-icons">arrow_forward</i></a>
            </div>
        </article>
    </div>
</section>


{% endblock %}