{# Define a macro to render each project item #}
{% macro team(name) -%}
    <a class="e-person" href="./team.html#{{name | slug}}">
        <div class="e-person-pic" style="background-image: url(./static/img/team/{{name | slug}}.jpg"></div>
        <div class="e-team-info">
            <h3 class="e-team-name">{{name}}</h3>
        </div>
    </a>
{%- endmacro %}

{% extends "base.html" %}
{% set project = projects[2] %}
{% block content %}
{% if project.problem_statement %}
<section class="b-single-landing">
    <header class="b-top-section">
        <div class="b-breadcrumbs">
            <a href="projects.html">Projects</a><i class="material-icons">keyboard_arrow_right</i><span>{{project.title}}</span>
        </div>
    </header>
    <div>
        <h2 class="e-project-name">{{project.title}}</h2>
        <h3 class="e-question">{{project.problem_statement}}</h3>
    </div>
    <div class="e-wrap">
        <div class="e-half">
            <div class="e-content">
                <a href="{{project.project_website}}" target="_blank" class="e-project-link">Project Website<i class="material-icons">link</i></a>
                <ul class="e-tags">
                    <h5>Governance Area</h5>
                    <li>{% for tag in project.tags.governance_area %}
                        <span class="e-tag">{{ tag }}</span>
                        {% endfor %}</li>
                    <h5>Institution Type</h5>
                    <li>{% for tag in project.tags.type_of_institution %}
                        <span class="e-tag">{{ tag }}</span>{% endfor %}</li>
                    <h5>Innovative Capability</h5>
                    <li>{% for tag in project.tags.innovative_capability %}
                        <span class="e-tag">{{ tag }}</span>{% endfor %}</li>
                    <h5>Product Category</h5>
                    <li>{% for tag in project.tags.product_category %}
                        <span class="e-tag">{{ tag }}</span>{% endfor %}</li>
                </ul>
                <div class="e-location">
                    <h4>Location</h4>

                    {% if project.location %}
                        {% for place in project.location %}
                        <div class="e-place">{{place}}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="e-half">
            <div class="e-content e-background">
                <h4>Background</h4>
                {{project.background}}
            </div>
        </div>
        <div class="e-progress m-{{project.status}}"><span></span><span></span><span></span><span></span></div>
        <footer>
            {% if project.social_media %}
            <div class="e-social-media">
                <h4>Share this Project</h4>
                <a href="#" class="e-nav-item"><i class="e-social-media-item fa fa-twitter"></i></a>
                <a href="#" class="e-nav-item"><i class="e-social-media-item fa fa-facebook"></i></a>
                <a href="#" class="e-nav-item"><i class="e-social-media-item fa fa-google-plus"></i></a>
                <a href="#" class="e-nav-item"><i class="e-social-media-item fa fa-github"></i></a>
            </div>
            {% endif %}
        </footer>
    </div>
</section>
<section class="b-single-description {% if project.images %}m-slider{% endif %}">
    <div class="e-wrap">
        <h2>Description</h2>
        <div class="e-description">
            {% if project.long_description %}{{ project.long_description }}
            {% else %}{{project.short_description}}{% endif %}
        </div>
    </div>
    {% if project.images %}
    <div class="b-project-slider slick">
            {% for image in project.images %}
                <span><img class="e-project-image" src="./static/img/projects/{{image}}" alt=""></span>
            {% endfor %}
    </div>
    {% endif %}
</section>
{% if project.results %}
<section class="b-single-results">
    <div class="e-wrap">
        <h2 class="e-title">Results &amp; Impact</h2>
        {{ project.results }}
        <!-- <div class="e-half">

        </div> -->
        <!-- <div class="e-half">
            <img src="static/img/results-1.png" alt="">
        </div>
        <div class="e-half">
            <img src="static/img/results-2.png" alt="">
        </div>
        <div class="e-half">
            <img src="static/img/results-3.png" alt="">
        </div> -->
    </div>
</section>
{% endif %}

{% if project.related_articles %}
<section class="b-single-related-content">
    <h2>More About the {{project.title}}</h2>
    <div class="e-wrap">
        {% for article in project.related_articles %}
        <div class="e-article"><a href="{{article.url}}" target="_blank">{{article.name}}</a></div>
        {% endfor %}
        <!-- <article class="e-half e-blog">
            <h3 class="e-article-type">Blog</h3>
            <h2 class="e-title">The Role of the Network of Innovators</h2>
            <div class="e-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur id excepturi rerum sunt eligendi possimus accusamus perspiciatis velit quo, nostrum eveniet inventore tempora autem libero, debitis quis nobis, impedit deserunt.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eligendi animi quibusdam praesentium magnam fugiat sit nostrum nihil quae temporibus suscipit, aliquid tempore ducimus a, minima, odit veniam! A, velit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eligendi animi quibusdam praesentium magnam fugiat sit nostrum nihil quae temporibus suscipit, aliquid tempore ducimus a, minima, odit veniam! A, velit.</p>
            </div>
            <div class="e-action">
                <a class="b-button m-naked" href="">Read More<i class="material-icons">arrow_forward</i></a>
            </div>
        </article>

        <article class="e-half e-article">
            <h3 class="e-article-type">Article</h3>
            <h2 class="e-title">Why a Network of Innovators</h2>
            <div class="e-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ipsum quos suscipit at, corporis, natus aliquid magni fugiat. Quaerat inventore alias vero iste ducimus saepe itaque ex sapiente dolorum minus?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ipsum quos suscipit at, corporis, natus aliquid magni fugiat. Quaerat inventore alias vero iste ducimus saepe itaque ex sapiente dolorum minus?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam ipsum quos suscipit at, corporis, natus aliquid magni fugiat. Quaerat inventore alias vero iste ducimus saepe itaque ex sapiente dolorum minus?</p>
            </div>
            <div class="e-action">
                <a class="b-button m-naked" href="">Read More<i class="material-icons">arrow_forward</i></a>
            </div>
        </article> -->
    </div>
</section>
{% endif %}

{% if project.team %}
<section class="b-project-team">
    <h2>Team</h2>
    <div class="e-container">
        {% for person in project.team %}
            {{ team(person) }}
        {% endfor %}
    </div>
</section>
{% endif %}

{% endif %}

{% endblock %}
