{% extends "base.html" %}
{% block content %}

<section class="b-projects-landing b-top-section">
    <h2>Building new technology to solve public problems</h2>
    <h3>Our Projects try to answer the questions that stand between today and more effective and legitimate governance tomorrow</h3>
</section>
<section class="b-projects-list-wrapper m-data">
    <div class="e-project-type">
        <h4>Better Governance Through</h4>
        <h2>Data</h2>
    </div>
    <div class="e-project-list">
        <h3 class="e-project-question">How to open up <strong>government data</strong> for solving problems</h3>
        <div class="e-project-group">
            <div class="e-project-item js-tooltip-trigger">
                <h2>Arnold</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ducimus minus suscipit, obcaecati id soluta sed, dolore eligendi necessitatibus porro voluptas magnam harum voluptates nemo cupiditate. Natus nisi facere qui!</p>
                <div class="e-project-tooltip">
                    <p>There is possibly no more important public issue today than how to enable our governing organizations to better recognize and implement innovative and effective solutions to our problems. Administration that is supposed to solve critical problems on its own is inadequate for a complex, networked world. Governments need to learn to make use of the expertise of others — formal scientific knowledge and credentials, skills and experiences — to tackle the challenges society will face in the coming years.</p>
                </div>

            </div>
            <div class="e-project-item js-tooltip-trigger">
                <h2>Orgpedia</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ducimus minus suscipit, obcaecati id soluta sed, dolore eligendi necessitatibus porro voluptas magnam harum voluptates nemo cupiditate. Natus nisi facere qui!</p>
                <div class="e-project-tooltip">
                    <p>There is possibly no more important public issue today than how to enable our governing organizations to better recognize and implement innovative and effective solutions to our problems. Administration that is supposed to solve critical problems on its own is inadequate for a complex, networked world. Governments need to learn to make use of the expertise of others — formal scientific knowledge and credentials, skills and experiences — to tackle the challenges society will face in the coming years.</p>
                </div>
            </div>
            <div class="e-project-item js-tooltip-trigger">
                <h2>Legisletters</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ducimus minus suscipit, obcaecati id soluta sed, dolore eligendi necessitatibus porro voluptas magnam harum voluptates nemo cupiditate. Natus nisi facere qui!</p>
                <div class="e-project-tooltip">
                    <p>There is possibly no more important public issue today than how to enable our governing organizations to better recognize and implement innovative and effective solutions to our problems. Administration that is supposed to solve critical problems on its own is inadequate for a complex, networked world. Governments need to learn to make use of the expertise of others — formal scientific knowledge and credentials, skills and experiences — to tackle the challenges society will face in the coming years.</p>
                </div>
            </div>
            <div class="e-project-item js-tooltip-trigger">
                <h2>NHS Open Data</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ducimus minus suscipit, obcaecati id soluta sed, dolore eligendi necessitatibus porro voluptas magnam harum voluptates nemo cupiditate. Natus nisi facere qui!</p>
                <div class="e-project-tooltip">
                    <p>There is possibly no more important public issue today than how to enable our governing organizations to better recognize and implement innovative and effective solutions to our problems. Administration that is supposed to solve critical problems on its own is inadequate for a complex, networked world. Governments need to learn to make use of the expertise of others — formal scientific knowledge and credentials, skills and experiences — to tackle the challenges society will face in the coming years.</p>
                </div>
            </div>
            <div class="e-project-item js-tooltip-trigger">
                <h2>Municipal Open Data Impact Barometer</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ducimus minus suscipit, obcaecati id soluta sed, dolore eligendi necessitatibus porro voluptas magnam harum voluptates nemo cupiditate. Natus nisi facere qui!</p>
            </div>
            <div class="e-project-item js-tooltip-trigger">
                <h2>Open 990</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ducimus minus suscipit, obcaecati id soluta sed, dolore eligendi necessitatibus porro voluptas magnam harum voluptates nemo cupiditate. Natus nisi facere qui!</p>
            </div>
        </div>
        <h3 class="e-project-question">How to enable data sharing from public sector to private sector</h3>
        <div class="e-project-group">
            <div class="e-project-item js-tooltip-trigger">
                <h2>Docker for Data</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ducimus minus suscipit, obcaecati id soluta sed, dolore eligendi necessitatibus porro voluptas magnam harum voluptates nemo cupiditate. Natus nisi facere qui!</p>
            </div>
            <div class="e-project-item js-tooltip-trigger">
                <h2>Open Data 500</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ducimus minus suscipit, obcaecati id soluta sed, dolore eligendi necessitatibus porro voluptas magnam harum voluptates nemo cupiditate. Natus nisi facere qui!</p>
            </div>
        </div>
    </div>
</section>
<section class="b-projects-list-wrapper m-collective-intelligence">
    <div class="e-project-type">
        <h4>Better Governance Through</h4>
        <h2>Collective Inteligence</h2>
    </div>
    <div class="e-project-list">
        <h3 class="e-project-question">How to open up <strong>government data</strong> for solving problems</h3>
        <div class="e-project-group">
            <div class="e-project-item js-tooltip-trigger">
                <h2>Arnold</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ducimus minus suscipit, obcaecati id soluta sed, dolore eligendi necessitatibus porro voluptas magnam harum voluptates nemo cupiditate. Natus nisi facere qui!</p>
            </div>
            <div class="e-project-item js-tooltip-trigger">
                <h2>Orgpedia</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ducimus minus suscipit, obcaecati id soluta sed, dolore eligendi necessitatibus porro voluptas magnam harum voluptates nemo cupiditate. Natus nisi facere qui!</p>
            </div>
            <div class="e-project-item js-tooltip-trigger">
                <h2>Legisletters</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ducimus minus suscipit, obcaecati id soluta sed, dolore eligendi necessitatibus porro voluptas magnam harum voluptates nemo cupiditate. Natus nisi facere qui!</p>
            </div>
            <div class="e-project-item js-tooltip-trigger">
                <h2>NHS Open Data</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ducimus minus suscipit, obcaecati id soluta sed, dolore eligendi necessitatibus porro voluptas magnam harum voluptates nemo cupiditate. Natus nisi facere qui!</p>
            </div>
            <div class="e-project-item js-tooltip-trigger">
                <h2>Municipal Open Data Impact Barometer</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ducimus minus suscipit, obcaecati id soluta sed, dolore eligendi necessitatibus porro voluptas magnam harum voluptates nemo cupiditate. Natus nisi facere qui!</p>
            </div>
            <div class="e-project-item js-tooltip-trigger">
                <h2>Open 990</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ducimus minus suscipit, obcaecati id soluta sed, dolore eligendi necessitatibus porro voluptas magnam harum voluptates nemo cupiditate. Natus nisi facere qui!</p>
            </div>
        </div>
        <h3 class="e-project-question">How to enable data sharing from public sector to private sector</h3>
        <div class="e-project-group">
            <div class="e-project-item js-tooltip-trigger">
                <h2>Docker for Data</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ducimus minus suscipit, obcaecati id soluta sed, dolore eligendi necessitatibus porro voluptas magnam harum voluptates nemo cupiditate. Natus nisi facere qui!</p>
            </div>
            <div class="e-project-item js-tooltip-trigger">
                <h2>Open Data 500</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ducimus minus suscipit, obcaecati id soluta sed, dolore eligendi necessitatibus porro voluptas magnam harum voluptates nemo cupiditate. Natus nisi facere qui!</p>
            </div>
        </div>
    </div>
</section>
<section class="b-projects-list-wrapper m-design-thinking">
    <div class="e-project-type">
        <h4>Better Governance Through</h4>
        <h2>Design Thinking</h2>
    </div>
    <div class="e-project-list">
        <h3 class="e-project-question">How to open up <strong>government data</strong> for solving problems</h3>
        <div class="e-project-group">
            <div class="e-project-item js-tooltip-trigger">
                <h2>Arnold</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ducimus minus suscipit, obcaecati id soluta sed, dolore eligendi necessitatibus porro voluptas magnam harum voluptates nemo cupiditate. Natus nisi facere qui!</p>
            </div>
            <div class="e-project-item js-tooltip-trigger">
                <h2>Orgpedia</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ducimus minus suscipit, obcaecati id soluta sed, dolore eligendi necessitatibus porro voluptas magnam harum voluptates nemo cupiditate. Natus nisi facere qui!</p>
            </div>
            <div class="e-project-item js-tooltip-trigger">
                <h2>Legisletters</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ducimus minus suscipit, obcaecati id soluta sed, dolore eligendi necessitatibus porro voluptas magnam harum voluptates nemo cupiditate. Natus nisi facere qui!</p>
            </div>
            <div class="e-project-item js-tooltip-trigger">
                <h2>NHS Open Data</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ducimus minus suscipit, obcaecati id soluta sed, dolore eligendi necessitatibus porro voluptas magnam harum voluptates nemo cupiditate. Natus nisi facere qui!</p>
            </div>
            <div class="e-project-item js-tooltip-trigger">
                <h2>Municipal Open Data Impact Barometer</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ducimus minus suscipit, obcaecati id soluta sed, dolore eligendi necessitatibus porro voluptas magnam harum voluptates nemo cupiditate. Natus nisi facere qui!</p>
                <div class="e-project-tooltip">
                    <p>There is possibly no more important public issue today than how to enable our governing organizations to better recognize and implement innovative and effective solutions to our problems. Administration that is supposed to solve critical problems on its own is inadequate for a complex, networked world. Governments need to learn to make use of the expertise of others — formal scientific knowledge and credentials, skills and experiences — to tackle the challenges society will face in the coming years.</p>
                </div>
            </div>
            <div class="e-project-item js-tooltip-trigger">
                <h2>Open 990</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ducimus minus suscipit, obcaecati id soluta sed, dolore eligendi necessitatibus porro voluptas magnam harum voluptates nemo cupiditate. Natus nisi facere qui!</p>
            </div>
        </div>
        <h3 class="e-project-question">How to enable data sharing from public sector to private sector</h3>
        <div class="e-project-group">
            <div class="e-project-item js-tooltip-trigger">
                <h2>Docker for Data</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ducimus minus suscipit, obcaecati id soluta sed, dolore eligendi necessitatibus porro voluptas magnam harum voluptates nemo cupiditate. Natus nisi facere qui!</p>
            </div>
            <div class="e-project-item js-tooltip-trigger">
                <h2>Open Data 500</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus ducimus minus suscipit, obcaecati id soluta sed, dolore eligendi necessitatibus porro voluptas magnam harum voluptates nemo cupiditate. Natus nisi facere qui!</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}