{% extends "_base-sg.html" %}

{% block page_id %}publications-page{% endblock %}

{% block content %}

<main role="main">
  <div class="b-top-section m-purple">
    <h2>Publications</h2> 
  </div>

      {% for pub in publications %}

      {% if pub.file %}

      <section class="b-page-section">
        <div class="row">
          <div class="columns large-7 large-offset-1">
            <a href="./static/files/publications/{{ pub.file }}"><h3>{{ pub.title}}</h3></a>
            <p><em>{{pub.subtitle}}</em></p>
            <p>By {{pub.author}}</p>
            <p>{{pub.date}}</p>
          </div>
          <div class="large-3 large-offset-1 end columns">
          {% if pub.subtitle %}
          {% endif %}

          <a class="th" href="./static/files/publications/{{ pub.file }}">
          <img src="./static/files/publications/{{ pub.thumbnail }}">
          </a>
            
          </div>
        </div>
      </section>

      {% else %}

      <section class="b-page-section">
        <div class="row">
          <div class="columns large-7 large-offset-1">
            <a href="{{ pub.redirect }}"><h3>{{ pub.title}}</h3></a>
            <p><em>{{pub.subtitle}}</em></p>
            <p>By {{pub.author}}</p>
            <p>{{pub.date}}</p>
          </div>
          <div class="large-3 large-offset-1 end columns">
          {% if pub.subtitle %}
          {% endif %}

          <a class="th" href="{{ pub.redirect }}">
          <img src="./static/files/publications/{{ pub.thumbnail }}">
          </a>
            
          </div>
        </div>
      </section>

      {% endif %}

      {% endfor %}


</main>
{% endblock %}