{% extends "base.html" %}
{% block content %}
<section class="b-single-landing">
    <header>
        <h3 class="e-question">How and when to use the <strong>crowd do get better ideas</strong> faster into governing</h3>
    </header>
    <div class="e-wrap">
        <div class="e-half">
            <h2 class="e-project-name">Network of Innovators</h2>
            <h3 class="e-project-tagline">Find collaborators<br>
                Create Alliances.<br>
                Learn from Others</h3>
            <div class="e-content">
                <a href="#" class="e-project-link">Project Website<i class="material-icons">link</i></a>
                <div class="e-tags">
                    <div><a href="#" class="e-tag">Collective Intelligence</a></div>
                    <div><a href="#" class="e-tag">Digital Platform</a></div>
                    <div><a href="#" class="e-tag">Test &amp; Iteration</a></div>
                </div>
            </div>
        </div>
        <div class="e-half">
            <div class="e-content e-background">
                <h4>Background</h4>
                <p>Pissitio. Eque millace stiumquibus eum qui ut officte sequam voluptate aperior a que eaquunt. Nulloreritia ellorer ionsequia volupta spitibusda nos ditatur res qui dionse dolorunt aped quam, con pro omnisque nus eum anducitat inveri nos endanditam, te odis alitatem recea andia quis alibus vitatque labo. Cab in ea dolut minihitat vitatem adi de lam.</p>
                <p>Pissitio. Eque millace stiumquibus eum qui ut officte sequam voluptate aperior a que eaquunt. Nulloreritia ellorer ionsequia volupta spitibusda nos ditatur res qui dionse dolorunt aped quam.</p>
            </div>
        </div>
        <footer>
            <div class="e-social-media">
                <h4>Share this Project</h4>
                <a href="#" class="e-nav-item"><i class="e-social-media-item fa fa-twitter"></i></a>
                <a href="#" class="e-nav-item"><i class="e-social-media-item fa fa-facebook"></i></a>
                <a href="#" class="e-nav-item"><i class="e-social-media-item fa fa-google-plus"></i></a>
                <a href="#" class="e-nav-item"><i class="e-social-media-item fa fa-github"></i></a>
            </div>
        </footer>
    </div>
</section>
<section class="b-single-description">
    <h2>Description</h2>
    <p class="e-description">An expert network of individuals, organizations and the projects they have worked on. Together with the communications tools to ask a question, create groups, and engage other for collaboration.
    </p>
    <div class="b-project-slider">
        <div class="e-project-slider-wrapper">
            <div class="e-project-image"></div>
            <div class="e-project-image"></div>
            <div class="e-project-image m-active"></div>
            <div class="e-project-image"></div>
            <div class="e-project-image"></div>
        </div>
    </div>
</section>


{% endblock %}