{# Define a macro to render each project item #}
{% macro item(title, problem_statement, is_active, tooltip, image) -%}
<div class="e-project-item js-tooltip-trigger m-clickable" data-open="#modal-{{title | slug}}">
    {% if image %}<div class="e-card-image" style="background-image: url('static/img/smarterstate/{{image}}')"></div>{% endif %}
    <h2><a href="#">{{title}}</a></h2>
    <div class="e-project-blurb">
        {% if problem_statement %}<p>{{problem_statement}}</p>{% endif %}
        {#{% if tooltip %}<div class="e-project-tooltip">{{tooltip}}</div>{% endif %}#}
    </div>
</div>

<!-- <div class="e-card-sg js-tooltip-trigger" data-open="#modal-{{title | slug}}">
    <a href="#">
        <div class="e-card-inner-sg">
            <p class="e-card-name-sg">{{title}}</p>
            <p class="e-card-description-sg">
                {% if problem_statement %}{{problem_statement}}{% endif %}
            </p>
        </div>
    </a>
</div> -->
{%- endmacro %}

{% extends "_base.html" %}
{% block content %}

{# here we start the template#}

<div id="smarter-state-case-studies">
    <section class="b-projects-landing b-top-section">
        <h2>Smarter State Case Studies</h2>
        <h3>A GovLab initiative to design and test how public decision-making could improve if institutions knew how to leverage citizens’ and civil servants’ expertise</h3>

        <h3><br />Learn more about the book at <a class="m-white" href="//smarterstate.org">smarterstate.org</a></h3>

        <p class="b-download">
            <a class="b-button m-naked m-icon-only m-no-anim" href="static/files/smarterstate/deck-dc-03.pdf">Download the Slide Deck <br /> <i class="material-icons">cloud_download</i></a>
        </p>

        <div class="e-view-switcher">
            <i class="e-view-button material-icons js-view-grid-trigger m-active" title="View in Grid Layout">view_module</i>
            <i class="e-view-button material-icons js-view-list-trigger" title="View in List Layout">view_headline</i>
        </div>
    </section>
    <div class="b-project-view m-grid">
        <section class="b-projects-list-wrapper m-data">
            <div class="e-project-list">
                <h3 class="e-project-question"><i class="material-icons">search</i> Talent Bank</h3>
                <div class="e-project-group">
                    {% for study in studies %}
                    {% if study.category is equalto 'talent_bank' %}
                    {{ item(study.title, study.subtitle, study.is_active, study.tooltip, study.image) }}
                    {% endif %}
                    {% endfor %}
                </div>
                <h3 class="e-project-question"><i class="material-icons">group_work</i> Collaboration</h3>
                <div class="e-project-group">
                    {% for study in studies %}
                    {% if study.category is equalto 'collaboration' %}
                    {{ item(study.title, study.subtitle, study.is_active, study.tooltip, study.image) }}
                    {% endif %}
                    {% endfor %}
                </div>
                <h3 class="e-project-question"><i class="material-icons">explore</i> Projects</h3>
                <div class="e-project-group">
                    {% for study in studies %}
                    {% if study.category is equalto 'projects' %}
                    {{ item(study.title, study.subtitle, study.is_active, study.tooltip, study.image) }}
                    {% endif %}
                    {% endfor %}
                </div>
                <h3 class="e-project-question"><i class="material-icons">content_paste</i> Toolkits</h3>
                <div class="e-project-group">
                    {% for study in studies %}
                    {% if study.category is equalto 'toolkits' %}
                    {{ item(study.title, study.subtitle, study.is_active, study.tooltip, study.image) }}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>

    {% for study in studies %}
    <div class="b-modal" id="modal-{{study.title | slug}}">
        <div class="e-content">
            <h2>{{study.title}}<i class="material-icons m-gray">{{study.icon}}</i></h2>
            <p>{{study.summary | truncate(250)}}</p>
            <div class="e-details m-sm">
                <h3>Problem</h3>
                <p>{{study.problem | truncate(250)}}</p>
                <h3>Design</h3>
                <p>{{study.design | truncate(250)}}</p>
            </div>
            <p class="e-buttons">
                <a class="b-button js-close-modal m-dark m-icon-only" href="#">Close</a>
                <a class="b-button js-close-modal m-naked m-icon-only" href="#"><i class="material-icons">close</i></a>
                <a class="b-button m-purple" href="{{study.download}}">Download PDF<i class="material-icons">file_download</i></a>
            </p>
        </div>
    </div>
    {% endfor %}

    <div class="b-sticky m-gray">
        <div class="e-wrap">
            <i class="material-icons e-close js-close">close</i>
            <div class="e-book">
                <a href="//smarterstate.org"><img src="static/img/smarterstate.jpg"></a>
                <h3 class="e-title">Smart Citizens, Smarter State</h3>
                <p>These case studies were inspired by <em>Smart Citizens, Smarter State</em> by Beth Simone Noveck. Learn more about the book at <a href="//smarterstate.org">smarterstate.org</a></p>
            </div>
        </div>
    </div>

</div>
{% endblock %}