{% extends "_base.html" %}
{% block page_id %}stefaan-page-temp{% endblock %}
{% block og %}
    <meta content="The GovLab | Stefaan Verhulst" property="og:title"/>
    <meta content="Stefaan G. Verhulst is Co-Founder and Chief Research and Development Officer of the Governance Laboratory @NYU (GovLab) where he is responsible for building a research foundation on how to transform governance using advances in science and technology." property="og:description">
{% endblock %}
{% block content %}
<div class="b-fancy-bio-stefaan">
    <div class="b-top-section">
        <div class="e-wrap">
            <div class="e-pic">

            </div>
            <div class="e-info">
                <!-- <div class="e-links">
                    <a href="https://twitter.com/bethnoveck" target="_blank" class="b-social-media"><i class="fa fa-twitter"></i></a>
                    <a href="https://medium.com/@bethnoveck" target="_blank" class="b-social-media"><i class="fa fa-medium"></i></a>
                </div> -->
                <div class="e-names">
                    <h1>Stefaan Verhulst</h1>
                    <h2>Co-founder and Chief Research and Development Officer</h2>     
                    <div class="e-social-media e-nav-group">
                        <a href="https://twitter.com/sverhulst" class="e-nav-item" target="_blank"><i class="e-social-media-item fa fa-twitter aria-hidden="true""></i></a>
                        <a href="https://www.linkedin.com/in/stefaan-verhulst-85a334" class="e-nav-item" target="_blank"><i class="e-social-media-item fa fa-linkedin aria-hidden="true""></i></a>
                        <a href="https://medium.com/@sverhulst" class="e-nav-item" target="_blank"><i class="e-social-media-item fa fa-medium aria-hidden="true""></i></a>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="e-bio-section">
        <div class="e-wrap">

            <aside class="b-sidebar">
                <section class="e-section">
                    <h3>Resources</h3>
                    <ul>
                        <li><a href="https://twitter.com/sverhulst" target="_blank">Twitter</a></li>
                        <li><a href="https://www.linkedin.com/in/stefaan-verhulst-85a334" class="e-nav-item" target="_blank">LinkedIn</a></li>
                        <li><a href="https://medium.com/@sverhulst" class="e-nav-item" target="_blank">Medium</a></li>
                        <li><a href="https://scholar.google.com/citations?hl=en&user=XwhOyDAAAAAJ&view_op=list_works&sortby=pubdate" target="_blank">Google Scholar</a></li>
                        <li><a href="http://thegovlab.org/category/govlab-digest/" target="_blank">The GovLab Digest</a></li>
                        <li><a href="http://odimpact.org/" target="_blank">Open Data's Impact</a></li>
                        <li><a href="http://datacollaboratives.org/" target="_blank">Data Collaboratives</a></li>
                        <li><a href="http://ogrx.org/" target="_blank">Open Governance Research Exchange</a>
                    </ul>
                </section>
                <section class="e-section">
                    <h3>By Stefaan Verhulst</h3>
                    <ul class="e-books">
                        <li><figure>
                            <div class="e-image" style="background-image: url('/static/img/team/bio/global-impact-open-data.jpg')">
                                <a href="http://www.oreilly.com/data/free/the-global-impact-of-open-data.csp" class="e-dark-panel">The Global Impact of Open Data</a>
                            </div>
                        </figure></li>
                        <li><figure>
                            <div class="e-image" id="paris-21" style="background-image: url('/static/img/team/bio/paris-21.png')">
                                <a href="http://www.paris21.org/sites/default/files/Paper_new-data-sources_final.pdf" class="e-dark-panel">Access to New Data Sources for Statistics</a>
                            </div>
                        </figure></li>
                    </ul>
                </section>

            </aside>
            <div class="e-main-content">
                <p>Stefaan G. Verhulst is Co-Founder and Chief Research and Development Officer of the Governance Laboratory @NYU (GovLab) where he is responsible for building a research foundation on how to transform governance using advances in science and technology.</p>
                <p>Verhulst’s latest scholarship centers on how technology can improve people’s lives and the creation of more effective and collaborative forms of governance. Specifically, he is interested in the perils and promise of collaborative technologies and how to harness the unprecedented volume of information to advance the public good.</p>
                <p>Before joining NYU full time, Verhulst spent more than a decade as Chief of Research for the Markle Foundation, where he continues to serve as Senior Advisor. At Markle, an operational foundation based in New York, he was responsible for overseeing strategic research on all the priority areas of the Foundation including, for instance: transforming health care using information and technology, re-engineering government to respond to new national security threats, improving people’s lives in developing countries by connecting them to information networks, developing multi-stakeholder networks to tackle global governance challenges, changing education through information technology et al. Many of Markle’s reports have been translated into legislation and executive orders, and have informed the creation of new organizations and businesses.</p>
                <p>He is also an Adjunct Professor in the Department of Culture and Communications at New York University, Senior Research Fellow for the Center for Media and Communications Studies at Central European University in Budapest; and an Affiliated Senior Research Fellow at the Center for Global Communications Studies at the University of Pennsylvania’s Annenberg School for Communications.</p>
                <p>Previously at Oxford University he co-founded and was the Head of the Programme in Comparative Media Law and Policy at the Centre for Socio Legal Studies, and also served as Senior Research Fellow of Wolfson College. He is still an emeritus fellow at Oxford. He also taught several years at the London School of Economics.</p>
                <p>Verhulst was the UNESCO Chairholder in Communications Law and Policy for the UK, a former lecturer on Communications Law and Policy issues in Belgium, and Founder and Co-Director of the International Media and Info-Comms Policy and Law Studies at the University of Glasgow School of Law. He has served as a consultant to numerous international and national organizations, including the Council of Europe, the European Commission, UNESCO, World Bank, UNDP, USAID, the UK Department for International Development among others. He has been a grant recipient of the Bertelsmann Foundation, the Ford Foundation, the Rockefeller Foundation, and the Markle Foundation.</p>
                <p>Verhulst has authored and co-authored several books, including: In Search of the Self: Conceptual Approaches to Internet Self Regulation (Routledge, 2001); Convergence in European Communications Regulation (Blackstone, 1999); EC Media Law and Policy (AWL, 1998); Legal Responses to the Changing Media (OUP, 1998); and Broadcasting Reform in India (OUP, 1998) and The Routledge Handbook of Media Law (2013).</p>
                <p>Latest reports and papers include, for instance, Innovations in Global Governance: Toward a Distributed Internet Governance Ecosystem (2014) and The Open Data Era in Health and Social Care (2014). Verhulst blogs also regularly on a variety of topics. For instance: Data Collaboratives: Exchanging Data to Improve People’s Lives (2015), and Reimagining Cities (2014).</p>
                <p>Verhulst is also founder and editor of numerous journals including the International Journal of Communications Law and Policy, and the Communications Law in Transition Newsletter.</p>
                <p>Currently he is the Curator and Editor of the <a href="http://thegovlab.org/category/govlab-digest/" target="_blank">Govlab Weekly Digest</a>.</p>

                <div class="e-collapsed">

                    <div class="b-button m-show m-naked js-project-toggle">Stefaan's Projects at The GovLab <i class="material-icons"><i class="material-icons">keyboard_arrow_down</i></i></div>
                        <div class="b-button m-hide m-naked js-project-toggle">Stefaan's Projects at The GovLab <i class="material-icons"><i class="material-icons">keyboard_arrow_up</i></i></div>

                        <div class="e-projects">
                            <ul>
                                {% for project in projects %}
                                {% if "Stefaan Verhulst" in project.team %}
                                <li><a href="http://www.thegovlab.org/project-{{project.title | slug}}.html">{{project.title}}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                </div>

                <!-- <div class="e-more-content">
                    <h3>Media</h3>
                    <ul>
                        <li>
                            <a href="" target="_blank"></a>
                        </li>
                        
                    </ul>

                    <h3>Selected Publications</h3>
                    <ul>
                        <li><a href="" target="_blank"></a></li>
                    </ul> 
                    </div> -->

               <!-- <div class="e-twitter">
                    <a class="twitter-timeline" href="https://twitter.com/sverhulst" data-widget-id="xyz">Tweets by @sverhulst</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div> -->
            </div>
            </div>
        </div>
        
    {% endblock %}
    