{% extends "_base_directus.html" %}
{% block page_id %}stefaan-page-temp{% endblock %}
{% block og %}
<title>The GovLab | Stefaan Verhulst</title>
<meta content="The GovLab | Stefaan Verhulst" property="og:title"/>
<meta content="Stefaan G. Verhulst is Co-Founder and Chief Research and Development Officer of the Governance Laboratory @NYU (GovLab) where he is responsible for building a research foundation on how to transform governance using advances in science and technology." property="og:description">
{% endblock %}


{% block content %}
{% raw %}
<div class="b-fancy-bio" id="teamdetail" v-cloak>
    <div class="b-top-section">
        <div class="e-wrap">
            <div class="e-pic" :style="{ backgroundImage: 'url(' + memberData.picture.data.thumbnails[3].url+ ')' }">

            </div>
            <div class="e-info">

                <!-- <div class="e-links">
                    <a :href="memberData.resources.twitter" target="_blank" class="b-social-media"><i class="fa fa-twitter"></i></a>
                    <a :href="memberData.resources.medium" target="_blank" class="b-social-media"><i class="fa fa-medium"></i></a>
                </div> -->
                <div class="e-names">
                    <h1>{{memberData.name}}</h1>
                    <h2>{{memberData.title}}</h2>
                    <div class="e-social-media e-nav-group" v-if="memberData.resources">
                        <a v-if="memberData.resources.Twitter != null" :href="memberData.resources.Twitter" class="e-nav-item" target="_blank"><i class="e-social-media-item fa fa-twitter" aria-hidden="true"></i></a>
                        <a v-if="memberData.resources.LinkedIn != null" :href="memberData.resources.LinkedIn" class="e-nav-item" target="_blank"><i class="e-social-media-item fa fa-linkedin" aria-hidden="true"></i></a>
                        <a v-if="memberData.resources.Medium" :href="memberData.resources.Medium" class="e-nav-item" target="_blank"><i class="e-social-media-item fa fa-medium" aria-hidden="true"></i></a>

                    </div>
                </div>


            </div>
        </div>
    </div>


    <div class="e-bio-section">
        <div class="e-wrap">

            <aside class="b-sidebar">
                <section class="e-section">
                    <h3>Resources</h3>
                    <ul >
                        <li v-for= "(ressources, index) in memberData.resources">
                            <a :href="ressources" target="_blank">{{index}}</a>
                        </li>
                    </ul>
                </section>
                <section class="e-section" v-if="memberData.videos != ''">
                    <h3>Videos</h3>
                    <ul>
                          <li class="embed-container" v-for= "(video, index) in memberData.videos"  v-html='video.directus_files_id.data.embed.html'></li>
                    </ul>

                </section>
                <section class="e-section">
                    <h3>By {{memberData.name}}</h3>

                    <ul class="e-books"  v-for= "(book, index) in memberData.books">

                        <li>
                            <figure>
                                <div class="e-image"
                                    :style="{ backgroundImage: 'url(' + book.books_id.picture.data.thumbnails[3].url+ ')' }">
                                    <a :href="book.books_id.link"
                                        class="e-dark-panel">{{book.books_id.title}}</a>
                                </div>
                            </figure>
                        </li>
                    </ul>
                </section>
                <section class="e-section">
                    <h3>Downloads</h3>
                    <ul>
                        <li><a href="memberData.picture.data.thumbnails[5].url" target="_blank"
                                class="file-beth-simone-noveck-1">{{memberData.name}}'s Photo <i
                                    class="e-social-media-item fa fa-download"></i></a></li>
                    </ul>
                </section>

            </aside>
            <div class="e-main-content">
                <p v-html="memberData.bio"></p>



                <div class="e-collapsed">

                    <!-- <p v-if="!news_toggle"><span class="b-button  m-naked " @click="toggle('news')">In the News <i
                                class="material-icons"><i class="material-icons">keyboard_arrow_down</i></i></span></p>
                    <p v-if="news_toggle"><span class="b-button  m-naked "  @click="toggle('news')">In the News <i
                                class="material-icons"><i class="material-icons">keyboard_arrow_up</i></i></span></p>
                      <div  v-if="news_toggle==true" class="e-additional-resources" v-html="memberData.news"></div> -->

                      <p v-if="!publications_toggle" > <span class="b-button m-naked"  @click="toggle('publications')">Selected Publications <i
                                  class="material-icons"><i class="material-icons">keyboard_arrow_down</i></i></span></p>
                      <p v-if="publications_toggle" ><span class="b-button m-naked " @click="toggle('publications')">Selected Publications <i
                                  class="material-icons"><i class="material-icons">keyboard_arrow_up</i></i></span></p>
                      <div v-if="publications_toggle==true" class="e-additional-resources additional-ressources" v-html="memberData.publications"></div>


                    <div class="b-button m-naked js-project-toggle" v-if="!projects_toggle"  @click="toggle('projects')">Stefaans's Projects <i class="material-icons"><i
                                class="material-icons">keyboard_arrow_down</i></i></div>
                    <div class="b-button m-naked js-project-toggle" v-if="projects_toggle" @click="toggle('projects')">Stefaans's Projects<i class="material-icons"><i
                                class="material-icons">keyboard_arrow_up</i></i></div>
                    <div v-if="projects_toggle">
                      <ul class="e-projects project_list" >
                        <li v-for="project in memberData.projects"><a :href="project.projects_id.link">{{project.projects_id.name}}</a></li>
                      </ul>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <script src='https://unpkg.com/vue@2.0.3/dist/vue.js'></script>
    <script src="https://unpkg.com/vue-meta/dist/vue-meta.min.js"></script>
    <script src="static/js/team_detail.js"></script>
    {% endraw %}

    {% endblock %}