{% extends "_base.html" %}
{% block page_id %}team{% endblock %}
{% block og %}
    <meta content="The GovLab | Team" property="og:title"/>
    <meta content="Deepening our understanding of how to govern
    more effectively and legitimately through technology." property="og:description">
{% endblock %}
{% block content %}
<div class="b-team">
    <div class="e-team-list">
        <h1>Team</h1>
        <div class="e-team-member" id="beth-simone-noveck">
            <div class="e-wrap">
                <div class="e-team-picture" style="background-image: url('./static/img/team/beth-simone-noveck.jpg')"></div>
                <div class="e-info">
                    
                </div>
                <div class="e-bio">
                    <h3>Beth Simone Noveck</h3>
                    <h4>Co-founder and Director</h4>
                    <p>Beth Simone Noveck is Co-Founder and Director of The GovLab and its MacArthur Research Network on Opening Governance. Funded by the John D. and Catherine T. MacArthur Foundation, the John S. and James L. Knight Foundation and Google.org, the GovLab strives to improve people’s lives by changing how we govern. The GovLab designs and tests technology, policy and strategies for fostering more open and collaborative approaches to strengthen the ability of people and institutions to work together to solve problems, make decisions, resolve conflict and govern themselves more effectively and legitimately.</p>
                    
                    <a href="beth-noveck.html" class="b-button m-naked">More <i class="material-icons">keyboard_arrow_down</i></a>
                </div>
            </div>
        </div>
        <div class="e-team-member" id="stefaan-verhulst">
            <div class="e-wrap">
                <div class="e-team-picture" style="background-image: url('./static/img/team/stefaan-verhulst.jpg')"></div>
                <div class="e-info">
                    
                </div>
                <div class="e-bio">
                    <h3>Stefaan Verhulst</h3>
                    <h4>Co-founder and Chief Research and Development Officer</h4>
                    <p>Stefaan G. Verhulst is Co-Founder and Chief Research and Development Officer of the Governance Laboratory @NYU (GovLab) where he is responsible for building a research foundation on how to transform governance using advances in science and technology.</p>
                    <p>Verhulst’s latest scholarship centers on how technology can improve people’s lives and the creation of more effective and collaborative forms of governance. Specifically, he is interested in the perils and promise of collaborative technologies and how to harness the unprecedented volume of information to advance the public good.</p>
                    
                    <a href="stefaan-verhulst.html" class="b-button m-naked">More <i class="material-icons">keyboard_arrow_down</i></a>
                </div>
            </div>
        </div>

        {% for person in team %}
            <div class="e-team-member" id="{{person.name | slug }}">
                <div class="e-wrap">
                    <div class="e-team-picture" style="background-image: url('./static/img/team/{{person.name | slug}}.jpg')"></div>
                    <div class="e-info">
                        
                    </div>
                    <div class="e-bio">
                        <h3>{{person.name}}</h3>
                        <h4>{{person.job}}</h4>
                        {{person.bio}}
                        <div class="b-button m-more m-naked js-bio-toggle">More <i class="material-icons"><i class="material-icons">keyboard_arrow_down</i></i></div>
                        <div class="b-button m-less m-naked js-bio-toggle">Less <i class="material-icons"><i class="material-icons">keyboard_arrow_up</i></i></div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
</div>
{% endblock %}






