{% extends "base.html" %}
{% block content %}
<div class="b-team">
    <div class="e-team-list">
        <h1>Team</h1>
        {% for person in team %}
            <div class="e-team-member" id="{{person.name | slug }}">
                <div class="e-wrap">
                    <div class="e-team-picture" style="background-image: url(./static/img/team/{{person.name | slug}}.jpg"></div>
                    <div class="e-info">
                        
                    </div>
                    <div class="e-bio">
                        <h3>{{person.name}}</h3>
                        <h4>{{person.job}}</h4>
                        {{person.bio}}
                        <div class="b-button m-naked js-bio-toggle">More <i class="material-icons"><i class="material-icons">keyboard_arrow_down</i></i></div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
</div>
{% endblock %}






