{% extends "_base.html" %}
{% block page_id %}usda{% endblock %}

{% block og %}
<meta content="The GovLab | 2016 USDA STEAM Summer Camp" property="og:title"/>
<meta content="2016 USDA Open Data Science, Technology, Engineering, Agriculture and Math (STEAM) Summer Camp." property="og:description">
{% endblock %}

{% block content %}
<section class="b-about-landing">
    <div class="e-wrap">
        <header>
        </header>
    </div>
</section>
<section class="b-about m-who-we-are">
    <div class="e-wrap">
        <h2>Application Period is Open!</h2>
        <p class="e-tagline">The GovLab, in partnership with the USDA’s Office of the Chief Information Officer, is sponsoring the 2017 USDA Open Data Science, Technology, Engineering, Agriculture and Math (STEAM) Summer Camp.</p>
        <p>The camp will run from July 10 – August 4, 2017, featuring two cohorts of students ages 12-14 and 15-17. Students 12-14 will attend from July 10th – July 22nd and students ages 15-17 from July 24th – August 4th. The District of Columbia Public School Children are the priority candidates.</p>
        <p>The objective of the camp is to provide students with the opportunity to learn about the Mission of USDA and to accomplish various projects by using USDA open data and crowdsourcing to assist in the decision making process on critical projects and programs.</p>
        <p>The themes for this year’s camp are Food Nutrition, Urban Agriculture, Food Safety.</p>
        <p>The Camp will be held at the U.S. Department of Agriculture Headquarters located at 1400 Independence Avenue, SW. Washington, DC, 20250. Tuition and lunches are free.</p>
        <p><b>Please email applications to: <a href="mailto:usdasummerprogram@thegovlab.org">usdasummerprogram@thegovlab.org</a>.  All applications must be received by COB May 26, 2017.</b></p>
        <p>For additional questions or concerns, please email Cynthia Larkins at: <a href="mailto:cynthia.Larkins@wdc.usda.gov">Cynthia.Larkins@wdc.usda.gov</a></p>
    </div>
</section>
<section class="b-about m-how-we-do-it">
    <div class="e-wrap">
        <div class="e-download"><a href="static/files/usda-steam-application.docx" class="b-button m-purple" target="_blank">Download Application <i class="material-icons">file_download</i></a></div>
    </div>
</section>
{% endblock %}






